// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

.reduce-motion-overlay {
    display: none;
    visibility: hidden;
    pointer-events: none;
}

.paperplane-toggle {
    display: block;
    border-right: none;
    margin-bottom: rem(20);

    .fake-label {
        font-size: cta1-size-smartphone;
        line-height: cta1-size-smartphone;
        top: -0.44rem;

    }
}