// main: ../style.scss
@import '../global/vars';
@import '../global/function-mixin';

.module-banner {
  position: relative;
}

.banner-content {
  position: relative;
  padding: rem($module-vertical-padding-smartphone);
}