// main: ../style.scss
@import '../global/vars';
@import '../global/function-mixin';

.card {
    border: solid rem(1) var(--color-1);

    .card-image {
        margin-bottom: rem(24);
    }

    .card-texts {
        padding: 0 rem(24) rem(24) rem(24);
    }

    .cta-holder {
        margin-top: auto;
        padding: 0 rem(24) rem(12) rem(24);
    }
}