// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

.card {
    border: solid 1px var(--color-1);

    .card-image {
        margin-bottom: 24px;
    }

    .card-texts {
        padding: 0 24px 24px 24px;
    }

    .cta-holder {
        margin-top: auto;
        padding: 0 24px 12px 24px;
    }
}