// main: ../style.scss
@import '../global/vars';
@import '../global/function-mixin';

.cta-holder {
	margin-top: rem(15);
	@include flex-wrap;
	@include flex-verticalize;

	button,
	a {
		margin: 0 rem(15) rem(15) 0;
	}
}

.default-button {
	padding: rem(10) rem(20);
	font-size: rem($cta1-size-smartphone);
	line-height: rem($cta1-lineheight-smartphone);

	&:after {
		margin: 0 0 0 rem(5);
		width: rem(15);
		height: rem(15);
	}
}

.default-button-b {
	font-size: rem($cta1-size-smartphone);
	line-height: rem($cta1-lineheight-smartphone);

	&:after {
		margin: 0 0 0 rem(5);
		width: rem(15);
		height: rem(15);
	}
}