// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

// forms
// i colori (bordi ecc.) sono definiti nei parziali /global/colors-black-bg e /global/colors-white-bg

input[type=date],
input[type=email],
input[type=file],
input[type=number],
input[type=range],
input[type=tel],
input[type=text],
input[type=url] {
  font-size: rem($h5-size-smartphone);
  line-height: rem($h5-lineheight-smartphone);
  margin-bottom: rem(24);
}

input[type=checkbox],
input[type=radio] {
  margin-bottom: rem(5);

  &:before {
    position: relative;
    top: rem(4);
    font-size: calc(rem($h5-size-smartphone) * 1.5);
  }
}

textarea {
  font-size: rem($h5-size-smartphone);
  line-height: rem($h5-lineheight-smartphone);
  margin-bottom: rem(24);
}

select {
  font-size: rem($h5-size-smartphone);
  line-height: rem($h5-lineheight-smartphone);
  margin-bottom: rem(24);
}

.wpcf7-submit,
input[type=submit] {
  width: 100%;
  padding: rem(14) rem(20);
  font-size: rem($paragraph-size-smartphone);
}

.form-hold {
  margin: rem(10) 0 0 0;

  .required-fields {
    margin-bottom: rem(24);
  }

  label,
  p {
    font-size: rem($h5-size-smartphone);
    line-height: rem($h5-lineheight-smartphone);
    margin-bottom: rem(5);
  }

  .form-block {
    margin-bottom: rem(24);

    .wpcf7-not-valid-tip {
      top: rem(-3) !important;
    }
  }
}

.as-label {
  font-size: rem($h5-size-smartphone);
  line-height: rem($h5-lineheight-smartphone);
  margin-bottom: rem(5);
}

.search-submit {
  background-color: var(--color-4);
  border: none;
  cursor: pointer;


  &:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-mask-image: url(assets/images/icons/search-button.svg);
    mask-image: url(assets/images/icons/search-button.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-size: rem(20) rem(20);
    mask-position: 50% 50%;
    background-color: var(--color-1);
    @include transition(all 0.2s linear);
    transform-origin: center;
  }
}

.wpcf7-form {

  .wpcf7-not-valid-tip {
    top: rem(-223) !important;
    font-size: rem($h5-size-smartphone) !important;
    line-height: rem($h5-size-smartphone) !important;
  }

  .wpcf7-response-output {
    font-size: rem($h5-size-smartphone) !important;
    line-height: rem($h5-size-smartphone) !important;
  }

  &.invalid {
    .wpcf7-response-output {
      font-size: rem($h5-size-smartphone) !important;
      line-height: rem($h5-size-smartphone) !important;
    }
  }

  &.sent {
    .wpcf7-response-output {
      font-size: rem($h5-size-smartphone) !important;
      line-height: rem($h5-size-smartphone) !important;

    }
  }
}

.color-select {
  //@include transition(all 0.3s linear);
  border: solid rem(2) var(--color-1);
  text-align: center;
}