// main: ../style.scss
@import '../global/vars';
@import '../global/mixin'; // wrappers and more

.header-offset-anchor {
  position: absolute;
  display: block;
  top: -$header-smartphone-height;
}

// flex boxes
// per calcolare la larghezza degli elementi flex:
// valore margin right - (valore margin right / numero elmenti per riga)
// es. 16 - (16/2) = 8

.flex-hold-2 {
  &.mobile-keep-2-columns {
    width: calc(100% + (#{$column-space-side-smartphone} * 2));
    left: -$column-space-side-smartphone;

    .flex-hold-child {
      width: 50%;
      padding: 0 $column-space-side-smartphone $column-space-bottom-smartphone $column-space-side-smartphone;

    }
  }
}

.flex-hold-2,
.flex-hold-3,
.flex-hold-4 {
  .flex-hold-child {
    width: 100%;
    padding: 0 0 $column-space-bottom-smartphone;
  }
}

.flex-fix-column {

  &.left-fix,
  &.right-fix {
    .fix {
      order: 1;
      width: 100%;
      margin: 0 0 $column-space-bottom-smartphone;
    }

    .nofix {
      order: 2;
      width: 100%;
      margin: 0 0 $column-space-bottom-smartphone;
    }
  }
}

.flex-hold-stripe-module {
  .module-stripe-image {
    width: 100%;
  }

  .module-stripe-text {
    width: 100%;
  }
}

.editor-info {
  display: none;
  visibility: hidden;
}