// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';
$logo-width: 200px;
$hamburger-width: 55px; // header

#preheader {
  display: none;
  //height: $header-smartphone-height;
}

#header {
  height: $header-smartphone-height;

  &.scrolled {
    background-color: $color-4;
  }

  #header-structure {
    width: 100%;
    height: $header-smartphone-height;

    .logo {
      width: $logo-width;
      height: $header-smartphone-height;

      a {
        top: 10px;
        height: calc(#{$header-smartphone-height} - 20px);
      }
    }

    .menu {
      display: none;
      pointer-events: none;
      opacity: 0;
    }

    .side-head {
      width: calc(100% - #{$logo-width});
      text-align: right;

      ul {
        width: 100%;

        li {
          text-align: center !important;
          display: inline-block;
          margin: 0 2%;
        }

        li:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .submenu-close {
    visibility: hidden;
    display: none;
    pointer-events: none;

    &.active {
      visibility: hidden;
      display: none;
      pointer-events: none;
    }
  }
}

.mega-menu {
  display: none;
  visibility: hidden;
}

#head-overlay {
  top: $header-smartphone-height;
  width: 100%;
  height: calc(100dvh - #{$header-smartphone-height});

  .menu {
    width: 100%;

    .overlay-menu-css {
      width: 100%;
      border-top: solid 1px $color-3 !important;

      li {
        position: relative;
        display: block;
        text-align: left;
        overflow: hidden;
        border-bottom: solid 1px $color-3 !important;

        a {
          position: relative;
          display: block;
          padding: 20px $wrapper-padded-smartphone 20px $wrapper-padded-smartphone;
        }

        &.menu-item-has-children {

          a,
          button {
            position: relative;
            width: 100%;
            padding: 20px 55px 20px $wrapper-padded-smartphone;

            &:after {
              content: "";
              position: absolute;
              top: 20px;
              right: 0;
              transform: translate(0, 0) rotate(0);
              transform-origin: center;
              width: 14px;
              height: 8px;
              margin-left: 5px;
              -webkit-mask-image: url(assets/images/sub-menu-icon.svg);
              mask-image: url(assets/images/sub-menu-icon.svg);
              -webkit-mask-repeat: no-repeat;
              mask-repeat: no-repeat;
              mask-size: contain;
              background-color: $color-1;
              @include transition(all 0.2s ease-in-out);
              transform-origin: center;
            }

            &.clicked {
              &:after {
                transform: translate(0, 0) rotate(180deg);
              }
            }
          }
        }

        &.mobile-open-default {
          .sub-menu {
            display: block;
          }
        }
      }

      .current-page-ancestor,
      .current_page_item {}

      .sub-menu {
        display: none;
        background-color: $color-3;

        li {
          width: 100%;
          border-top: solid 1px $color-4 !important;

          &:last-child {
            border-bottom: none;
            padding: 0;
            margin: 0;
          }

          a {
            display: block;
            //width: calc(100% - (#{$wrapper-padded-smartphone} * 2));
            padding: 20px $wrapper-padded-smartphone;

            &:after {
              display: none;
              visibility: hidden;
            }
          }
        }
      }
    }
  }
}

.occupy-scrollbar {
  width: 100% !important;
}

.scroll-opportunity {
  width: 100%;
  height: calc(100dvh - #{$header-smartphone-height});
  padding-bottom: $module-vertical-padding-smartphone;
}

// footer

#footer {
  padding-top: 72px;
  padding-bottom: 16px;

  .footer-logo {
    max-width: 200px;
    height: 70px;
  }

  .footer-menu {
    width: 100%;
    text-align: left;
    margin: 50px 0;

    li {
      display: inline-block;
      margin: 0 20px 0 0;

      &:last-child {
        margin: 0;
      }
    }
  }
}

.user-accessibility-options {
  margin: 20px 0 0 0;

  .paperplane-toggle {
    margin: 0 0 10px 0;
  }
}

.inline-socials {
  margin: 20px 0;

  li {
    margin-bottom: 10px;
  }
}