// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';
$logo-width: 200px;
$hamburger-width: 55px;

// header
#pre-header {
  padding: rem(5) 0;
  border-bottom: solid rem(1) var(--color-1);

  .intro-par {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  details {
    summary {
      position: relative;
      cursor: pointer;
      text-overflow: ellipsis;
      /* Needed to make it work */
      overflow: hidden;
      white-space: nowrap;

      &::marker {
        content: "";


      }

      &::before {
        position: relative;
        display: inline-block;
        content: "+";
        margin-right: rem(5);
        //transform-origin: 50%;
      }
    }

    &[open] {
      summary {

        &::before {
          //color: orangered;
          //font-size: 2rem;
          content: "-";

        }
      }
    }
  }
}

#header {
  height: $header-smartphone-height;

  #header-structure {
    width: 100%;
    height: $header-smartphone-height;

    .logo {
      width: $logo-width;
      height: $header-smartphone-height;

      a {
        top: rem(10);
        height: calc(#{$header-smartphone-height} - 20px);
      }
    }

    .menu {
      display: none;
      pointer-events: none;
      opacity: 0;
    }

    .side-head {
      width: calc(100% - #{$logo-width});
      text-align: right;

      ul {
        width: 100%;

        li {
          text-align: center !important;
          display: inline-block;
          margin: 0 2%;
        }

        li:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .submenu-close {
    visibility: hidden;
    display: none;
    pointer-events: none;

    &.active {
      visibility: hidden;
      display: none;
      pointer-events: none;
    }
  }
}

.mega-menu {
  display: none;
  visibility: hidden;
}

#head-overlay {
  bottom: 0;
  transform: translate(0, 100%);
  width: 100%;
  height: 100dvh;

  .menu {
    width: 100%;

    .overlay-menu-css {
      width: 100%;
      border-top: solid rem(1) var(--color-3) !important;

      li {
        position: relative;
        display: block;
        text-align: left;
        overflow: hidden;
        border-bottom: solid rem(1) var(--color-3) !important;

        a {
          position: relative;
          display: block;
          padding: rem(20) $wrapper-padded-smartphone rem(20) $wrapper-padded-smartphone;
        }

        &.menu-item-has-children {

          a,
          button {
            position: relative;
            width: 100%;
            padding: rem(20) rem(55) rem(20) $wrapper-padded-smartphone;

            &:after {
              content: "";
              position: absolute;
              top: rem(20);
              right: 0;
              transform: translate(0, 0) rotate(0);
              transform-origin: center;
              width: rem(14);
              height: rem(8);
              margin-left: rem(5);
              -webkit-mask-image: url(assets/images/icons/sub-menu-icon.svg);
              mask-image: url(assets/images/icons/sub-menu-icon.svg);
              -webkit-mask-repeat: no-repeat;
              mask-repeat: no-repeat;
              mask-size: contain;
              background-color: var(--color-1);
              @include transition(all 0.2s ease-in-out);
              transform-origin: center;
            }

            &.clicked {
              &:after {
                transform: translate(0, 0) rotate(180deg);
              }
            }
          }
        }
      }

      .current-page-ancestor,
      .current_page_item {}

      .sub-menu {
        background-color: var(--color-3);
        position: relative;
        interpolate-size: allow-keywords;
        @include transition(visibility, height 0.3s linear);
        overflow: hidden;
        visibility: hidden;
        height: 0;

        &.visible {
          @include transition(visibility, height 0.3s linear);
          height: auto;
          visibility: visible;
        }

        li {
          width: 100%;
          border-top: solid rem(1) var(--color-4) !important;

          &:last-child {
            border-bottom: none;
            padding: 0;
            margin: 0;
          }

          a {
            display: block;
            //width: calc(100% - (#{$wrapper-padded-smartphone} * 2));
            padding: rem(20) $wrapper-padded-smartphone;

            &:after {
              display: none;
              visibility: hidden;
            }
          }
        }
      }
    }
  }

  .user-accessibility-options {
    margin: rem(20) 0;
  }
}

.occupy-scrollbar {
  width: 100% !important;
}

.scroll-opportunity {
  width: 100%;
  //height: calc(100dvh - #{$header-smartphone-height});
  height: 100%;
  padding: $module-vertical-padding-smartphone 0;
}

// footer

#footer {
  padding-top: rem(72);
  padding-bottom: rem(16);

  .footer-logo {
    max-width: rem(200);
    height: rem(70);
  }

  .footer-menu {
    width: 100%;
    text-align: left;
    margin: rem(50) 0;

    li {
      display: inline-block;
      margin: 0 rem(20) 0 0;

      &:last-child {
        margin: 0;
      }
    }
  }
}

.user-accessibility-options {}

.inline-socials {
  margin: rem(20) 0;

  li {
    margin-bottom: rem(10);
  }
}