// main: ../style.scss
@import '../global/vars';
@import '../global/function-mixin';
$logo-width: 200;

// header

#header {

  #header-structure {
    width: 100%;
    padding: rem(16) 0;

    .logo {
      width: rem($logo-width);
      height: rem(44);
    }

    .header-main-menu-desktop {
      display: none;
      pointer-events: none;
      visibility: hidden;
      opacity: 0;
    }

    .side-head {
      width: calc(100% - rem($logo-width));
      text-align: right;

      ul {
        width: 100%;

        li {
          text-align: center !important;
          display: inline-block;
          margin: 0 2%;
        }

        li:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .submenu-close {
    visibility: hidden;
    display: none;
    pointer-events: none;

    &.active {
      visibility: hidden;
      display: none;
      pointer-events: none;
    }
  }
}

.mega-menu {
  display: none;
  visibility: hidden;
}

#head-overlay {
  position: relative;
  //bottom: 0;
  //transform: translate(0, 100%);
  width: 100%;
  height: 100dvh;
  overflow-y: auto;
  scrollbar-gutter: stable;

  .header-main-menu-mobile {
    width: 100%;

    ul {
      width: 100%;

      li {
        position: relative;
        display: block;
        text-align: left;
        overflow: hidden;
        padding: rem(4);


        a {
          position: relative;
          display: block;
          padding: rem(16) $wrapper-padded-smartphone;
          border-bottom: solid rem(1) var(--color-3);
        }
      }

      .sub-menu {
        position: relative;
        interpolate-size: allow-keywords;
        @include transition(visibility, height 0.3s linear);
        overflow: hidden;
        visibility: hidden;
        height: 0;

        &.visible {
          @include transition(visibility, height 0.3s linear);
          height: auto;
          visibility: visible;
        }

        li {
          width: 100%;
        }
      }
    }
  }

  .user-accessibility-options {
    margin: rem(20) 0;
  }

  .scroll-opportunity {
    padding-bottom: var(--header-height-real-time);
  }
}

.occupy-scrollbar {
  width: 100% !important;
}

// footer

#footer {
  padding-top: rem(72);
  padding-bottom: rem(16);

  .footer-logo {
    max-width: rem(200);
    height: rem(70);
  }

  .footer-menu {
    width: 100%;
    text-align: left;
    margin: rem(50) 0;

    li {
      display: inline-block;
      margin: 0 rem(20) 0 0;

      &:last-child {
        margin: 0;
      }
    }
  }
}

.user-accessibility-options {}

.inline-socials {
  margin: rem(20) 0;

  li {
    margin-bottom: rem(10);
  }
}



#pre-header {
  padding: rem(5) 0;
  border-bottom: solid rem(1) var(--color-1);
  height: rem(31); // impostare ispezionando la pagina e contrllando l'altezza del blocco #pre-header

  &.initialized {
    height: auto;
  }

  p {
    font-size: rem($h6-size-smartphone);
    line-height: rem($h6-lineheight-desktop);
    margin: 0 0;
  }

  .close-header-notice {
    top: rem(3);
    width: rem($h6-size-smartphone);
    height: rem($h6-size-smartphone);
  }

  /* IMPORTANTE: line-height definito per calcolo corretto */
  .avviso-content {
    font-size: rem($h6-size-smartphone);
    line-height: rem($h6-lineheight-desktop);
  }

  .avviso-container {
    padding-right: calc(rem($h6-size-smartphone) + rem(20));
  }

  .expander {
    padding: 0 0 0 rem(20);
    font-size: rem($h6-size-smartphone);
    line-height: rem($h6-lineheight-desktop);
    font-weight: $font-weight-3;

    &:after {
      top: rem(2);
      left: rem(0);
      width: rem($h6-size-smartphone);
      height: rem($h6-size-smartphone);
    }
  }

  .expanding-block {
    margin-bottom: 0;
    border: none;

    &.hovered {
      box-shadow: none
    }

    .expandable-content {
      .inner {
        padding: 0;
      }
    }
  }
}