// main: ../style.scss
@import '../global/vars';
@import '../global/mixin'; // wrappers and more

.listing-grid-container {
    margin: $module-vertical-padding-smartphone 0;
}

.infinite-button,
.wp-pagenavi {
    margin-bottom: $module-vertical-padding-smartphone;
}

.grid-listing-image {
    position: relative;
    margin-bottom: 24px;
}

.grid-listing-texts {}