// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

.module-columns-fix-column {
  .cta-holder {
    text-align: center;
  }

  .module-column-box {
    .column-image {
      position: relative;
      display: inline-block;
      width: 100%;
      margin-bottom: rem(24);

      .image-rounder {
        max-width: rem(250);
      }

      .image-icon {
        display: inline-block;
        max-width: rem(100);
      }
    }

    .cta-holder {
      text-align: inherit;
    }
  }

  .flex-hold-2 {
    .flex-hold-child {
      margin-bottom: $column-space-side-desktop;
    }
  }
}