// main: ../style.scss
@import '../global/vars';
@import '../global/function-mixin';

.module-highlighted-sentence {
  .flex-hold-rich-highlighted-sentence {
    .flex-hold-rich-highlighted-sentence-image {
      width: 100%;
      text-align: center;
      margin-bottom: rem($module-vertical-padding-smartphone);
    }

    .flex-hold-rich-highlighted-sentence-text {
      width: 100%;
    }
  }
}