// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

.module-spacer {
  padding: 40px 0;
}

.module-spacer-flex {
  padding: 40px 0 36px;
}

.grid-listing-texts {
  &.last-child-no-margin {
    margin-top: 24px !important;
  }
}

.module-text {
  .cta-holder {
    margin: 24px 0;
  }
}

.module-fullscreen-image {
  .module-box-fullscreen {
    position: relative;
    display: block;
    width: 100%;
    //min-height: 60vh;
    overflow: hidden;

    .fullscreen-cta-aligner {
      .fullscreen-cta-safe-padding {
        padding: 15vh 0;
      }
    }
  }
}

.module-highlighted-sentence {
  .cta-holder {
    margin: 24px 0 0;
    //text-align: center;
  }
}

.module-columns {
  .module-intro {
    margin-bottom: 32px;
  }

  .flex-hold {
    .last-child-no-margin {
      h1:first-child,
      h2:first-child,
      h3:first-child,
      h4:first-child,
      h5:first-child,
      h6:first-child,
      ol:first-child,
      p:first-child,
      ul:first-child {
        margin-top: 25px !important;
      }
    }

    .cta-holder {
      margin: 35px 0 0;
    }
  }

  .column-color {
    padding: 32px;

    .last-child-no-margin {
      h1:first-child,
      h2:first-child,
      h3:first-child,
      h4:first-child,
      h5:first-child,
      h6:first-child,
      ol:first-child,
      p:first-child,
      ul:first-child {
        margin-top: 24px !important;
      }
    }

    .cta-holder {
      margin: 32px 0 0;
      text-align: inherit !important;
    }
  }

  .cta-holder-columns {
    margin: 0 0 32px;
  }
}

.module-columns-fix-column {
  .module-intro {
    margin-bottom: 32px;
  }

  .flex-hold {
    .last-child-no-margin {
      h1:first-child,
      h2:first-child,
      h3:first-child,
      h4:first-child,
      h5:first-child,
      h6:first-child,
      ol:first-child,
      p:first-child,
      ul:first-child {
        margin-top: 24px !important;
      }
    }

    .cta-holder {
      margin: 32px 0 0;
    }
  }

  .fix {
    .last-child-no-margin {
      h1:first-child,
      h2:first-child,
      h3:first-child,
      h4:first-child,
      h5:first-child,
      h6:first-child,
      ol:first-child,
      p:first-child,
      ul:first-child {
        margin-top: 24px !important;
      }
    }
  }

  .column-color {
    padding: 32px;

    .cta-holder {
      margin: 32px 0 0;
      text-align: inherit !important;
    }
  }

  .cta-holder {
    margin: 0;
  }
}

.module-stripe {
  .module-intro {
    margin-bottom: 32px;
  }

  .stripe-listed {
    &:last-child {
      margin-bottom: 0;
    }
  }

  .stripe-image-text {
    margin-bottom: 32px;

    .module-stripe_image {
      order: 1;

      .spacer {
        //padding-right: 32px;
      }
    }

    .module-stripe_txt {
      order: 2;

      .spacer {
        //padding-left: 32px;
      }

      .cta-holder {
        margin: 32px 0 0;
      }
    }
  }

  .stripe-text-image {
    margin-bottom: 32px;

    .module-stripe_image {
      order: 1;

      .spacer {
        //padding-left: 32px;
      }
    }

    .module-stripe_txt {
      order: 2;

      .spacer {
        //padding-right: 32px;
      }

      .cta-holder {
        margin: 32px 0 0;
      }
    }
  }
}

.module-banner {
  .banner-space {
    padding: 24px 32px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .flex-hold-banner-image {
    .banner-box {
      position: relative;
      -webkit-box-flex: 1;
      text-align: center;
    }

    .banner-image {
      width: 100%;
      margin-bottom: 32px;
    }

    .banner-text {
      width: 100%;
      margin-bottom: 32px;
    }

    .banner-cta {
      width: 100%;
    }
  }

  .flex-hold-banner {
    .banner-box {
      position: relative;
      -webkit-box-flex: 1;
      text-align: center;
    }

    .banner-text {
      width: 100%;
      margin-bottom: 32px;
    }

    .banner-cta {
      width: 100%;
    }
  }
}

.image-icon {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.download-block {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
  }

  .download-icon {
    position: relative;
    padding-left: 43px;

    i {
      position: absolute;
      left: 0;
      top: 4px;
      font-size: 30px;
    }
  }
}

.sticky-element {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: calc(#{$header-smartphone-height} + 35px);
}

.column-counter-wrapper {
  margin-top: 25px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    display: inline-block;
    margin: 0 0 5px;
  }
}

.expandable-content {
  padding-top: 35px;
}