// main: ../style.scss
@import '../global/vars';
@import '../global/function-mixin';

.paperplane-modal {
  .modal-box {
    width: calc(100vw - rem(30));
    height: calc(100dvh - rem(30));
    padding: rem(75) 0 0;

    .modal-title {
      height: rem(75);
      padding: rem(24) rem(20) 0;
    }

    .modal-close-button {
      position: absolute;
      top: rem(24);
      right: rem(24);
      width: rem(32);
      border: none;
      height: rem(32);
      background-color: transparent;
    }

    .insider {
      padding: 0 rem(20) rem(30);
      max-height: calc(100vh - rem(120));

      .inner-message {
        .video-frame {
          margin-bottom: rem(24);
        }
      }
    }
  }
}