// main: ../style.scss
@import '../global/vars';
@import '../global/function-mixin';

.module-fullscreen-image {
  &.module-paddings-top {
    margin-top: rem($module-vertical-padding-smartphone);
  }

  &.module-paddings-top-double {
    margin-top: calc(rem($module-vertical-padding-smartphone) * 2);
  }

  &.module-no-paddings-top {
    margin-top: 0;
  }

  &.module-paddings-bottom {
    margin-bottom: rem($module-vertical-padding-smartphone);
  }

  &.module-paddings-bottom-double {
    margin-bottom: calc(rem($module-vertical-padding-smartphone) * 2);
  }

  &.module-no-paddings-bottom {
    margin-bottom: 0;
  }

  .module-box-fullscreen {
    position: relative;
    display: block;
    width: 100%;
    min-height: 60vh;
    overflow: hidden;
    padding: 15vh 0;

    .module-fullscreen-texts {
      max-width: rem(800);

      &.aligncenter {
        max-width: rem(950);
        margin: 0 auto;
      }

      &.alignright {
        margin-left: auto;
      }
    }
  }
}