// main: ../style.scss
@import '../global/vars';
@import '../global/function-mixin';

.module-expanding-text {
  .txt-max-width {
    margin-bottom: rem($module-vertical-padding-smartphone);
  }
}

.expanding-block {
  margin-bottom: rem(24);
  border: solid rem(2) var(--color-2);
  border-radius: rem(12);
  @include transition(all .3s ease-in-out);

  &:last-child {
    margin-bottom: 0;
  }

  .expandable-content {
    .inner {
      padding: 0 rem(24) rem(24) rem(24);
    }
  }
}