// main: ../style.scss
@import '../global/vars';
@import '../global/function-mixin';

.opening-fullscreen {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  @include transition(height 0.3s);
}

.opening-fullscreen {
  //min-height: calc(100vh - var(--header-height-static));
  min-height: calc(100vh - rem(76));
}

.fullscreen-video {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;

  video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.fullscreen-cta {
  display: grid;

  .fullscreen-cta-safe-padding {
    padding: 2.5dvh 0;
    overflow: hidden;
  }

  .fullscreen-cta-aligner {
    position: relative;
    width: 100%;

  }
}

.fullscreen-cta-center {
  padding: 0;
  margin: 0;
  //justify-content: center;
  align-content: center;
}

.fullscreen-cta-top {
  justify-content: start;
  align-content: start;
}

.fullscreen-cta-bottom {
  justify-content: end;
  align-content: end;
}


.fullscreen-cta-safe-padding,
.page-opening-simple-spacer {

  .last-child-no-margin {
    //max-width: 80%;
  }

  &.alignright {
    .last-child-no-margin {
      float: right;
    }
  }

  &.aligncenter {
    .last-child-no-margin {
      margin: 0 auto;
    }
  }
}

$box-txt-width: 100%;
$box-img-width: 100%;

.flex-hold-txt-img {
  //spazio per header
  padding-top: rem(100);

  .flex-hold-txt-img-box {

    &.text,
    &.image {
      position: relative;
      width: $box-txt-width;

      .inner {
        position: relative;

        &.coverize {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          overflow: hidden;
        }
      }
    }

    &.text {
      order: 1;

      .inner {
        padding: 0 $wrapper-padded-desktop 0 $wrapper-padded-desktop;
      }
    }

    &.image {
      order: 2;
    }
  }
}

.page-opening-simple-spacer {
  padding: rem(48) 0;
}

.breadcrumbs-holder {
  margin-bottom: rem(32);
}