// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

.slider-wrapper {
  display: flex;
  justify-content: center;
}

.slider-single {
  position: relative;
  width: 100%;

  .slick-list,
  .slick-track {
    overflow: visible;
  }

  .slick-slide {
    overflow: hidden;

    .slide {
      padding-right: rem(32);
    }
  }
}

.slide-caption {
  padding: rem(15) rem(10) 0 0;
}


// navigation

.slick-next,
.slick-prev {
  position: absolute;
  z-index: 2;
  bottom: rem(5);
  cursor: pointer;
  font-size: rem(30);

  &.slick-disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.slick-prev {
  right: rem(64);
}

.slick-next {
  right: rem(32);
}

.paging-info {
  position: relative;
  display: block;
  width: 100%;
  padding: rem(10) 0 0;
  text-align: center;
}

.slick-dots {
  text-align: center;
  padding: rem(10) 0 0 0 !important;

  li {
    display: inline-block;
    margin: 0 rem(5);

    button {
      width: rem(20);
      height: rem(20);
      border: none;
      font-size: 0;
      margin: 0;
      padding: 0;
      @include transition(all 0.3s linear);
      border-radius: rem(20);
      cursor: pointer;
    }
  }
}