// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

.as-h1,
h1 {
  font-size: rem($h1-size-smartphone);
  line-height: rem($h1-lineheight-smartphone);
  margin: 0 0 rem($h1-marginbottom-smartphone);
}

.as-h2,
h2 {
  font-size: rem($h2-size-smartphone);
  line-height: rem($h2-lineheight-smartphone);
  margin: 0 0 rem($h2-marginbottom-smartphone);
}

.as-h3,
h3 {
  font-size: rem($h3-size-smartphone);
  line-height: rem($h3-lineheight-smartphone);
  margin: 0 0 rem($h3-marginbottom-smartphone);
}

.as-h4,
h4 {
  font-size: rem($h4-size-smartphone);
  line-height: rem($h4-lineheight-smartphone);
  margin: 0 0 rem($h4-marginbottom-smartphone);
}

.as-h5,
h5 {
  font-size: rem($h5-size-smartphone);
  line-height: rem($h5-lineheight-smartphone);
  margin: 0 0 rem($h5-marginbottom-smartphone);
}

.mega-menu,
.menu {
  font-size: rem($cta1-size-smartphone);
  line-height: rem($cta1-lineheight-smartphone);

  a,
  button {
    font-size: rem($cta1-size-smartphone);
    line-height: rem($cta1-lineheight-smartphone);
  }
}

.mega-menu p,
#footer p,
.as-h6,
figcaption,
h6 {
  font-size: rem($h6-size-smartphone);
  line-height: rem($h6-lineheight-smartphone);
  margin: 0 0 rem($h6-marginbottom-smartphone);
}

p,
.as-p {
  font-size: rem($paragraph-size-smartphone);
  line-height: rem($paragraph-lineheight-smartphone);
  margin: 0 0 rem($paragraph-marginbottom-smartphone);
  padding: 0;
}

.content-styled {
  h1:not(:first-of-type) {
    //margin-top: calc(#{$h1-marginbottom-smartphone} * 2);
  }

  h2:not(:first-of-type) {
    margin-top: rem($h2-marginbottom-smartphone);
  }

  h3:not(:first-of-type) {
    //margin-top: calc(#{$h3-marginbottom-smartphone} * 2);
  }

  h4:not(:first-of-type) {
    //margin-top: calc(#{$h4-marginbottom-smartphone} * 2);
  }

  h5:not(:first-of-type) {
    //margin-top: calc(#{$h5-marginbottom-smartphone} * 2);
  }

  h6:not(:first-of-type) {
    //margin-top: calc(#{$h6-marginbottom-smartphone} * 2);
  }

  ul {
    font-size: rem($paragraph-size-smartphone);
    line-height: rem($paragraph-lineheight-smartphone);
    margin-bottom: rem($paragraph-marginbottom-smartphone);

    li {
      display: table-row;

      &:before {
        font-size: rem($paragraph-size-smartphone);
        font-weight: $font-weight-1;
      }

      &:after {
        height: calc(#{$paragraph-marginbottom-smartphone} / 2);
      }
    }
  }

  ol {
    font-size: rem($paragraph-size-smartphone);
    line-height: rem($paragraph-lineheight-smartphone);
    margin-bottom: rem($paragraph-marginbottom-smartphone);
  }

  ol>li {
    &:before {
      font-family: $font-main;
      font-size: rem($paragraph-size-smartphone);
    }

    &:after {
      height: calc(#{$paragraph-marginbottom-smartphone} / 2);
    }
  }
}

.wp-caption-text,
.wp-caption.aligncenter .wp-caption-text,
.wp-caption.alignleft .wp-caption-text,
.wp-caption.alignnone .wp-caption-text,
.wp-caption.alignright .wp-caption-text {
  padding: 5px 0 0;
  font-size: $cta1-size-smartphone;
  line-height: $cta1-lineheight-smartphone;
  word-wrap: break-word;
  font-style: italic;
}