// main: ../style.scss
@import '../global/vars';
@import '../global/mixin'; // wrappers and more

.desktop-only {
  display: none;
  visibility: hidden;
  pointer-events: none;

  img,
  video,
  iframe,
  *,
  *::after,
  *::before {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
}

.wrapper {
  overflow-x: hidden;
}

.wrapper-padded {
  width: 100%;
  padding: 0 $wrapper-padded-smartphone;
  overflow-x: hidden;
}

.wrapper-padded-slideshow {
  width: 100%;
  padding: 0 $wrapper-padded-smartphone;
  overflow-x: hidden;
}

.wrapper-padded-container {}

.wrapper-padded-more-924 {}

.wrapper-padded-more-700 {}

.module-paddings-top {
  padding-top: $module-vertical-padding-smartphone;
}

.module-paddings-top-double {
  padding-top: calc(#{$module-vertical-padding-smartphone} * 2);
}

.module-no-paddings-top {
  padding-top: 0;
}

.module-paddings-bottom {
  padding-bottom: $module-vertical-padding-smartphone;
}

.module-paddings-bottom-double {
  padding-bottom: calc(#{$module-vertical-padding-smartphone} * 2);
}

.module-no-paddings-bottom {
  padding-bottom: 0;
}