// main: ../style.scss
@import '../global/vars';
@import '../global/function-mixin'; // wrappers and more

.desktop-only {
  display: none;
  visibility: hidden;
  pointer-events: none;

  img,
  video,
  iframe,
  *,
  *::after,
  *::before {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
}

.wrapper {
  //overflow: hidden;
}

.wrapper-padded {
  width: 100%;
  padding: 0 $wrapper-padded-smartphone;
}

.wrapper-padded-slideshow {
  width: 100%;
  padding: 0 $wrapper-padded-smartphone;
  overflow: hidden;
}

.module-paddings-top {
  padding-top: rem($module-vertical-padding-smartphone);
}

.module-paddings-top-big {
  padding-top: rem($module-vertical-padding-big-smartphone);
}

.module-no-paddings-top {
  padding-top: 0;
}

.module-paddings-bottom {
  padding-bottom: rem($module-vertical-padding-smartphone);
}

.module-paddings-bottom-big {
  padding-bottom: rem($module-vertical-padding-big-smartphone);
}

.module-no-paddings-bottom {
  padding-bottom: 0;
}

.section-anchor {
  scroll-margin-top: calc(var(--header-height-real-time) + rem(20));
}

#wpadminbar {
  display: none;
  visibility: hidden;
}

body.admin-bar {
  margin-top: 0 !important;
}

html {
  margin-top: 0 !important;
}