@import 'global-vars';
@import 'global-mixin';

// wrappers and more

.wrapper {
  position:relative;
  width: 100%;
	margin: 0 auto;
}

.wrapper-padded {
  position:relative;
  width: 98%;
  margin: 0 auto;
  padding: 0 1% 0 1%;
}

.wrapper-padded-more {
  position:relative;
  width: 100%;
	max-width: 1150px;
	margin: 0 auto;
}

.wrapper-padded-more-840 {
  position:relative;
  width: 100%;
	max-width: 840px;
	margin: 0 auto;
}

.wrapper-padded-more-650 {
  position:relative;
  width: 100%;
	max-width: 650px;
	margin: 0 auto;
}

.wrapper-padded-more-500 {
  position:relative;
  width: 100%;
	max-width: 500px;
	margin: 0 auto;
}

.expandable-content {
  padding-top: 15px;
  display: none;
}

.coverize {
  background-size: cover;
  background-position: 50% 0;
}

// paddings- margins

.pad-1 {
  @include define-paddings(10px, 10px, 200px, 0);
}

.marg-1 {
  @include define-margins(10px, 0, 0, 80px);
}

// fullscreen boxes

.box-fullscreen {
	position: relative;
	display: block;
	width: 100%;
  height: calc(100vh - #{$header-height});
  overflow: hidden;
  &.covered {
    img {
      position: relative;
      width: 100%;
      height: calc(100vh - #{$header-height});
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: 50% 50%;
      object-position: 50% 50%;
    }
  }
}

.coverize {
  background-size: cover;
  background-position: 50% 0;
  background-attachment: fixed;
}

.bg-covered {
  width: 100%;
	height: calc(100vh - #{$header-height});
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.fullscreen-cta {
	position: absolute;
  top: 0;
  left: 0;
	z-index: 2;
	width: 100%;
	height: calc(100vh - #{$header-height});
  @include flex-wrap;
}

.fullscreen-cta-center {
  @include flex-verticalize;
}

.fullscreen-cta-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

// flex boxes

// per calcolare la larghezza degli elementi flex:
// valore margin right - (valore margin right / numero elmenti per riga)
// es. 16 - (16/2) = 8

.flex-hold {
	position: relative;
	width: 100%;
  @include flex-wrap;
}

.flex-hold-2 {
  &.margins-thin {
    .flex-hold-child {
      position: relative;
      -webkit-box-flex: 1;
      width: calc(50% - 8px) !important;
      margin: 0 16px 16px 0;
    }

    .flex-hold-child:nth-child(2n) {
      margin-right: 0;
    }
  }
  &.margins-wide {
    .flex-hold-child {
      position: relative;
      -webkit-box-flex: 1;
      width: calc(50% - 15px) !important;
      margin: 0 30px 30px 0;
    }

    .flex-hold-child:nth-child(2n) {
      margin-right: 0;
    }
  }
  &.margins-fit {
    .flex-hold-child {
      position: relative;
      -webkit-box-flex: 1;
      width: 50%;
    }
  }
}

.flex-hold-3 {
  &.margins-thin {
    .flex-hold-child {
      position: relative;
      -webkit-box-flex: 1;
      width: calc(33.333333% - 12px);
      margin: 0 18px 18px 0;
    }

    .flex-hold-child:nth-child(3n) {
      margin-right: 0;
    }
  }
  &.margins-wide {
    .flex-hold-child {
      position: relative;
      -webkit-box-flex: 1;
      width: calc(33.333333% - 22px);
      margin: 0 33px 33px 0;
    }
    .flex-hold-child:nth-child(3n) {
      margin-right: 0;
    }
  }
  &.margins-fit {
    .flex-hold-child {
      position: relative;
      -webkit-box-flex: 1;
      width: 33.333333%;
    }
  }
}

.flex-hold-4 {
  &.margins-thin {
    .flex-hold-child {
      position: relative;
      -webkit-box-flex: 1;
      width: calc(25% - 12px) !important;
      margin: 0 16px 16px 0;
    }

    .flex-hold-child:nth-child(4n) {
      margin-right: 0;
    }
  }
  &.margins-wide {
    .flex-hold-child {
      position: relative;
      -webkit-box-flex: 1;
      width: calc(25% - 30px) !important;
      margin: 0 40px 40px 0;
    }

    .flex-hold-child:nth-child(4n) {
      margin-right: 0;
    }
  }
  &.margins-fit {
    .flex-hold-child {
      position: relative;
      -webkit-box-flex: 1;
      width: 25%;
    }
  }
}

.flex-hold-5 {
  &.margins-thin {
    .flex-hold-child {
      position: relative;
      -webkit-box-flex: 1;
      width: calc(20% - 12px) !important;
      margin: 0 15px 15px 0;
    }

    .flex-hold-child:nth-child(5n) {
      margin-right: 0;
    }
  }
  &.margins-wide {
    .flex-hold-child {
      position: relative;
      -webkit-box-flex: 1;
      width: calc(20% - 32px) !important;
      margin: 0 40px 40px 0;
    }

    .flex-hold-child:nth-child(5n) {
      margin-right: 0;
    }
  }
  &.margins-fit {
    .flex-hold-child {
      position: relative;
      -webkit-box-flex: 1;
      width: 20%;
    }
  }
}


// social list

.inline-socials {
  width: 100%;
  margin: 10px 0;
  li {
    text-align: center !important;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0 0 15px 15px;
    overflow: hidden;
    img {
      width: 32px;
      height: 32px;
    }
    &:first-child {
      margin: 0 0 15px 0;
    }
    &:hover {
      @include define-basic-transition(all, 0.3s);
      opacity: 0.7;
    }
  }
}
