// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

.reduce-motion-button {
    bottom: 2vh;
    right: 50vw;
    padding: 14px 40px 14px 35px;
    font-size: $cta1-size-desktop;
    line-height: $cta1-size-desktop;
}