// main: ../style.scss
@import '../global/vars';
@import '../global/function-mixin'; // lazy load / infinite load

.nav-simple-button {
    font-size: rem($nav-size-desktop);
    line-height: rem($nav-lineheight-desktop);
    font-weight: $font-weight-3;
}

.expander {
    padding: rem(24) rem(24) rem(24) rem(63);
    font-size: rem($h4-size-desktop);
    line-height: rem($h4-lineheight-desktop);
    font-weight: $font-weight-2;

    &:after {
        top: rem(24);
        left: rem(20);
        width: rem(30);
        height: rem(30);
    }
}

.expander-closer {
    font-size: rem($h6-size-desktop);
    line-height: rem($h6-lineheight-desktop);
    font-weight: $font-weight-3;
}