// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

.cta-navi a,
.default-button {
	padding: 14px 22px 12px !important;
	font-size: 1rem;
	line-height: 1rem;
}

.default-button-b {
	&:after {
		font-size: calc(#{$cta1-size-desktop} + 5px);
		line-height: calc(#{$cta1-lineheight-desktop} + 5px);
	}
}