// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

// forms
// i colori (bordi ecc.) sono definiti nei parziali /global/colors-black-bg e /global/colors-white-bg

input[type=date],
input[type=email],
input[type=file],
input[type=number],
input[type=range],
input[type=tel],
input[type=text],
input[type=url] {
	font-size: rem($h5-size-desktop);
	line-height: rem($h5-lineheight-desktop);
	margin-bottom: 32px;
}

input[type=checkbox],
input[type=radio] {
	margin-bottom: 5px;

	&:before {
		position: relative;
		top: 4px;
		font-size: calc(rem($h5-size-desktop) * 1.5);
	}
}

textarea {
	font-size: rem($h5-size-desktop);
	line-height: rem($h5-lineheight-desktop);
	margin-bottom: 32px;
}

select {
	font-size: rem($h5-size-desktop);
	line-height: rem($h5-lineheight-desktop);
	margin-bottom: 32px;
}

.wpcf7-submit,
input[type=submit] {
	padding: 26px 48px;
	font-size: rem($paragraph-size-desktop);
}

.form-hold {
	margin: 10px 0;

	.required-fields {
		margin-bottom: 32px;
	}

	label,
	p {
		font-size: rem($h5-size-desktop);
		line-height: rem($h5-lineheight-desktop);
		margin-bottom: 5px;
	}

	.form-block {
		margin-bottom: 32px;

		.wpcf7-not-valid-tip {
			top: -3px !important;
		}
	}
}

.as-label {
	font-size: rem($h5-size-desktop);
	line-height: rem($h5-lineheight-desktop);
	margin-bottom: 5px;
}

.search-submit {
	background-color: var(--color-4);
	border: none;
	cursor: pointer;

	&:after {
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		-webkit-mask-image: url(assets/images/icons/search-button.svg);
		mask-image: url(assets/images/icons/search-button.svg);
		-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
		mask-size: 20px 20px;
		mask-position: 50% 50%;
		background-color: var(--color-1);
		@include transition(all 0.2s linear);
		transform-origin: center;
	}
}

.wpcf7-form {

	.wpcf7-not-valid-tip {

		font-size: rem($h5-size-desktop) !important;
		line-height: rem($h5-size-desktop) !important;
	}

	.wpcf7-response-output {
		font-size: rem($h5-size-desktop) !important;
		line-height: rem($h5-size-desktop) !important;
	}

	&.invalid {
		.wpcf7-response-output {
			font-size: rem($h5-size-desktop) !important;
			line-height: rem($h5-size-desktop) !important;
		}
	}

	&.sent {
		.wpcf7-response-output {
			font-size: rem($h5-size-desktop) !important;
			line-height: rem($h5-size-desktop) !important;

		}
	}
}