// main: ../style.scss
@import '../global/vars';
@import '../global/function-mixin';

// forms
// i colori (bordi ecc.) sono definiti nei parziali /global/colors-black-bg e /global/colors-white-bg

input[type=date],
input[type=email],
input[type=file],
input[type=number],
input[type=range],
input[type=tel],
input[type=text],
input[type=url],
input[type=search] {
	font-size: rem($h5-size-desktop);
	line-height: rem($h5-lineheight-desktop);
	margin-bottom: rem(32);
}

textarea {
	font-size: rem($h5-size-desktop);
	line-height: rem($h5-lineheight-desktop);
	margin-bottom: rem(32);
}

select {
	font-size: rem($h5-size-desktop);
	line-height: rem($h5-lineheight-desktop);
	margin-bottom: rem(32);
}

.wpcf7-submit,
input[type=submit] {
	padding: rem(26) rem(48);
	font-size: rem($paragraph-size-desktop);
}

.form-hold {
	margin: rem(10) 0;

	.required-fields {
		margin-bottom: rem(32);
	}

	label,
	p {
		font-size: rem($h5-size-desktop);
		line-height: rem($h5-lineheight-desktop);
		margin-bottom: rem(5);
	}

	.form-block {
		margin-bottom: rem(32);

		.wpcf7-not-valid-tip {
			top: rem(-3) !important;
		}
	}
}

.as-label {
	font-size: rem($h5-size-desktop);
	line-height: rem($h5-lineheight-desktop);
	margin-bottom: rem(5);
}

.search-submit {
	background-color: var(--color-4);
	border: none;
	cursor: pointer;

	&:after {
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		-webkit-mask-image: url(assets/images/icons/search-button.svg);
		mask-image: url(assets/images/icons/search-button.svg);
		-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
		mask-size: rem(20) rem(20);
		mask-position: 50% 50%;
		background-color: var(--color-1);
		@include transition(all 0.2s linear);
		transform-origin: center;
	}
}

.wpcf7-form {

	.wpcf7-not-valid-tip {

		font-size: rem($h5-size-desktop) !important;
		line-height: rem($h5-size-desktop) !important;
	}

	.wpcf7-response-output {
		font-size: rem($h5-size-desktop) !important;
		line-height: rem($h5-size-desktop) !important;
	}

	&.invalid {
		.wpcf7-response-output {
			font-size: rem($h5-size-desktop) !important;
			line-height: rem($h5-size-desktop) !important;
		}
	}

	&.sent {
		.wpcf7-response-output {
			font-size: rem($h5-size-desktop) !important;
			line-height: rem($h5-size-desktop) !important;

		}
	}
}

.form-block {


	&.privacy-block {
		.wpcf7-form-control-wrap {
			margin-top: rem(5);
		}
	}
}