 // main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

// flex boxes

// per calcolare la larghezza degli elementi flex:
// valore margin right - (valore margin right / numero elmenti per riga)
// es. 16 - (16/2) = 8



.parnter-grid {
  margin-top: 20px;
}

.partner-box {
  @include flex-wrap;
  width: 100%;
}

.partner-label {
  width: 100%;
  -webkit-align-items: flex-start;
          align-items: flex-start;
}

.partner-logo {
  @include flex-wrap;
  -webkit-align-items: center;
          align-items: center;
}

.flex-hold-2 {
  &.margins-thin {
    .flex-hold-child {
      position: relative;
      -webkit-box-flex: 1;
      width: calc(50% - 36px) !important;
      margin: 0 72px 24px 0;
    }

    .flex-hold-child:nth-child(2n) {
      margin-right: 0;
    }
  }
  &.margins-wide {
    .flex-hold-child {
      position: relative;
      -webkit-box-flex: 1;
      width: calc(50% - 36px) !important;
      margin: 0 72px 48px 0;
    }

    .flex-hold-child:nth-child(2n) {
      margin-right: 0;
    }
  }
  &.margins-fit {
    .flex-hold-child {
      position: relative;
      -webkit-box-flex: 1;
      width: 50%;
    }
  }
}

.flex-hold-block {
  &.flex-hold-block-listed {
    margin-bottom: 48px;
    padding-bottom: 48px;
    border-bottom: $color-2 solid 1px;
  }
  .flex-hold-child-image {
    position: relative;
    -webkit-box-flex: 1;
    width: 236px;
    margin-right: 72px;
    .flex-hold-child-image-aligner {
      text-align: right;
    }
  }

  .flex-hold-child-texts {
    position: relative;
    -webkit-box-flex: 1;
    width: calc(100% - 308px);
    margin-right: 0;
  }
}

.flex-hold-page-opening {
  .page-opening-text {
    order: 1;
    position: relative;
    -webkit-box-flex: 1;
    width: calc(50% + 35px);
    .page-opening-text-space {
      position: relative;
      width: calc(100% - 70px - #{$wrapper-padded-desktop});
      max-width: 960px;
      padding: 5vh 70px 5vh $wrapper-padded-desktop;
    }
  }
  .page-opening-image {
    order: 1;
    position: relative;
    -webkit-box-flex: 1;
    width: calc(50% - #{$wrapper-padded-desktop});
    .page-opening-image-aligner {
      width: calc(100% - #{$wrapper-padded-desktop});
      padding-right: $wrapper-padded-desktop;
      text-align: right;
    }
  }
}

.flex-hold-3 {
  &.margins-thin {
    .flex-hold-child {
      position: relative;
      -webkit-box-flex: 1;
      width: calc(33.333333% - 12px);
      margin: 0 18px 18px 0;
    }

    .flex-hold-child:nth-child(3n) {
      margin-right: 0;
    }
  }
  &.margins-wide {
    .flex-hold-child {
      position: relative;
      -webkit-box-flex: 1;
      width: calc(33.333333% - 48px);
      margin: 0 72px 48px 0;
    }
    .flex-hold-child:nth-child(3n) {
      margin-right: 0;
    }
  }
  &.margins-fit {
    .flex-hold-child {
      position: relative;
      -webkit-box-flex: 1;
      width: 33.333333%;
    }
  }
}

.flex-fix-column {
  &.left-fix {
    .fix {
      position: relative;
      -webkit-box-flex: 1;
      order: 1;
      width: calc(33.333333% - 48px);
      margin: 0 72px 48px 0;
    }
    .nofix {
      order: 2;
      width: calc(66.666666% - 48px);
      margin-right: 0;
    }
  }

  &.right-fix {
    .fix {
      position: relative;
      -webkit-box-flex: 1;
      order: 2;
      width: calc(33.333333% - 48px);
      margin: 0 0 48px 72px;
    }
    .nofix {
      order: 1;
      width: calc(66.666666% - 48px);
      margin-right: 0;
    }
  }

}








.flex-hold-4 {
  &.margins-thin {
    .flex-hold-child {
      position: relative;
      -webkit-box-flex: 1;
      width: calc(25% - 12px) !important;
      margin: 0 16px 16px 0;
    }

    .flex-hold-child:nth-child(4n) {
      margin-right: 0;
    }
  }
  &.margins-wide {
    .flex-hold-child {
      position: relative;
      -webkit-box-flex: 1;
      width: calc(25% - 36px) !important;
      margin: 0 48px 48px 0;
    }

    .flex-hold-child:nth-child(4n) {
      margin-right: 0;
    }
  }
  &.margins-fit {
    .flex-hold-child {
      position: relative;
      -webkit-box-flex: 1;
      width: 25%;
    }
  }
}

.flex-hold-5 {
  &.margins-thin {
    .flex-hold-child {
      position: relative;
      -webkit-box-flex: 1;
      width: calc(20% - 12px) !important;
      margin: 0 15px 15px 0;
    }

    .flex-hold-child:nth-child(5n) {
      margin-right: 0;
    }
  }
  &.margins-wide {
    .flex-hold-child {
      position: relative;
      -webkit-box-flex: 1;
      width: calc(20% - 32px) !important;
      margin: 0 40px 40px 0;
    }

    .flex-hold-child:nth-child(5n) {
      margin-right: 0;
    }
  }
  &.margins-fit {
    .flex-hold-child {
      position: relative;
      -webkit-box-flex: 1;
      width: 20%;
    }
  }
}


// social list

.inline-socials {
  width: 100%;
  margin: 0;
  li {
    text-align: center !important;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0 0 0 15px;
    overflow: hidden;
    i {
      font-size: 22px;
    }
  }
}
