// main: ../style.scss
@import '../global/vars';
@import '../global/function-mixin'; // wrappers and more

.verticalize {

  .module-stripe-image,
  .module-stripe-text,
  .flex-hold-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    //align-items: center;
  }
}

// flex boxes
// per calcolare la larghezza degli elementi flex:
// valore margin right - (valore margin right / numero elmenti per riga)
// es. 16 - (16/2) = 8

.flex-hold {

  .flex-hold-child-full {
    width: 100%;
    padding: 0 $column-space-side-desktop $column-space-bottom-desktop $column-space-side-desktop;
  }
}

.flex-hold-2 {
  width: calc(100% + (#{$column-space-side-desktop} * 2));
  left: -$column-space-side-desktop;

  .flex-hold-child {
    width: 50%;
    padding: 0 $column-space-side-desktop $column-space-bottom-desktop $column-space-side-desktop;
  }
}

.flex-hold-3 {
  width: calc(100% + (#{$column-space-side-desktop} * 2));
  left: -$column-space-side-desktop;

  .flex-hold-child {
    width: 33.333333%;
    padding: 0 $column-space-side-desktop $column-space-bottom-desktop $column-space-side-desktop;

  }
}

.flex-hold-4 {
  width: calc(100% + (#{$column-space-side-desktop} * 2));
  left: -$column-space-side-desktop;

  .flex-hold-child {
    width: 25%;
    padding: 0 $column-space-side-desktop $column-space-bottom-desktop $column-space-side-desktop;

  }
}

.flex-fix-column {
  &.left-fix {
    .fix {
      order: 1;
      width: rem(400);
      margin: 0 $column-space-side-desktop $column-space-bottom-desktop 0;
    }

    .nofix {
      order: 2;
      width: calc(100% - rem(400) - #{$column-space-side-desktop});
      margin-right: 0;
    }
  }

  &.right-fix {
    .fix {
      order: 2;
      width: rem(400);
      margin: 0 0 $column-space-side-desktop $column-space-bottom-desktop;
    }

    .nofix {
      order: 1;
      width: calc(100% - rem(400) - #{$column-space-side-desktop});
      margin-right: 0;
    }
  }
}

.flex-hold-stripe-module {
  .module-stripe-image {
    width: 50%;
  }

  .module-stripe-text {
    width: 50%;
  }
}

.editor-info {
  position: relative;
  z-index: 30;

  .admin-index {
    position: absolute;
    top: 0;
    left: 0;
    padding: rem(7) 0;
    font-size: rem(11);
    line-height: rem(1);
    background-color: var(--color-1);
    color: var(--color-4);

    .click-hide {
      background-color: var(--color-2);
      padding: rem(6) rem(8);
      cursor: pointer;
    }

    .hide-me {
      cursor: pointer;
      padding: rem(5) rem(7);
      margin-right: rem(10);
      font-weight: $font-weight-1;

      &.hidden-label {
        pointer-events: none;
        visibility: hidden;
        opacity: 0;
        display: none;
      }
    }
  }
}