// main: ../style.scss
@import '../global/vars';
@import '../global/mixin'; // wrappers and more

.header-offset-anchor {
  position: absolute;
  display: block;
  top: -$header-desktop-height;
}
// flex boxes
// per calcolare la larghezza degli elementi flex:
// valore margin right - (valore margin right / numero elmenti per riga)
// es. 16 - (16/2) = 8

.flex-hold-2 {
  &.margins-thin {
    .flex-hold-child {
      width: calc(50% - (#{$flex-hold-column-thin-space-desktop} - (#{$flex-hold-column-thin-space-desktop} / 2))) !important;
      margin: 0 $flex-hold-column-thin-space-desktop $flex-hold-column-thin-space-desktop 0;
    }

    .flex-hold-child:nth-child(2n) {
      margin-right: 0;
    }
  }

  &.margins-wide {
    .flex-hold-child {
      width: calc(50% - (#{$flex-hold-column-wide-space-desktop} - (#{$flex-hold-column-wide-space-desktop} / 2))) !important;
      margin: 0 $flex-hold-column-wide-space-desktop $flex-hold-column-wide-space-desktop 0;
    }

    .flex-hold-child:nth-child(2n) {
      margin-right: 0;
    }
  }

  &.margins-fit {
    .flex-hold-child {
      width: 50%;
    }
  }

  .flex-hold-child {
    &:nth-last-child(-n+2) {
      margin-bottom: 0 !important;
    }
  }
}

.flex-hold-3 {
  &.margins-thin {
    .flex-hold-child {
      width: calc(33.333333% - (#{$flex-hold-column-thin-space-desktop} - (#{$flex-hold-column-thin-space-desktop} / 3))) !important;
      margin: 0 $flex-hold-column-thin-space-desktop $flex-hold-column-thin-space-desktop 0;
    }

    .flex-hold-child:nth-child(2n) {
      margin-right: 0;
    }
  }

  &.margins-wide {
    .flex-hold-child {
      width: calc(33.333333% - (#{$flex-hold-column-wide-space-desktop} - (#{$flex-hold-column-wide-space-desktop} / 3))) !important;
      margin: 0 $flex-hold-column-wide-space-desktop $flex-hold-column-wide-space-desktop 0;
    }

    .flex-hold-child:nth-child(3n) {
      margin-right: 0;
    }
  }

  &.margins-fit {
    .flex-hold-child {
      width: 33.333333%;
    }
  }

  .flex-hold-child {
    &:nth-last-child(-n+3) {
      margin-bottom: 0 !important;
    }
  }
}

.flex-hold-4 {
  &.margins-thin {
    .flex-hold-child {
      width: calc(25% - (#{$flex-hold-column-thin-space-desktop} - (#{$flex-hold-column-thin-space-desktop} / 4))) !important;
      margin: 0 $flex-hold-column-thin-space-desktop $flex-hold-column-thin-space-desktop 0;
    }

    .flex-hold-child:nth-child(4n) {
      margin-right: 0;
    }
  }

  &.margins-wide {
    .flex-hold-child {
      width: calc(25% - (#{$flex-hold-column-wide-space-desktop} - (#{$flex-hold-column-wide-space-desktop} / 4))) !important;
      margin: 0 $flex-hold-column-wide-space-desktop $flex-hold-column-wide-space-desktop 0;
    }

    .flex-hold-child:nth-child(4n) {
      margin-right: 0;
    }
  }

  &.margins-fit {
    .flex-hold-child {
      width: 25%;
    }
  }

  .flex-hold-child {
    &:nth-last-child(-n+4) {
      margin-bottom: 0 !important;
    }
  }
}

.flex-fix-column {
  &.left-fix {
    .fix {
      order: 1;
      width: 400px;
      margin: 0 $flex-hold-column-wide-space-desktop $flex-hold-column-wide-space-desktop 0;
    }

    .nofix {
      order: 2;
      width: calc(100% - 400px - #{$flex-hold-column-wide-space-desktop});
      margin-right: 0;
    }
  }

  &.right-fix {
    .fix {
      order: 2;
      width: 400px;
      margin: 0 0 $flex-hold-column-wide-space-desktop $flex-hold-column-wide-space-desktop;
    }

    .nofix {
      order: 1;
      width: calc(100% - 400px - #{$flex-hold-column-wide-space-desktop});
      margin-right: 0;
    }
  }
}

.flex-hold-stripe-module {
  .module-stripe-image {
    width: 50%;
  }

  .module-stripe-text {
    width: 50%;
  }
}
// social list

.inline-socials {
  width: 100%;
  margin: 0;

  li {
    text-align: center !important;
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: 0 0 10px 15px;
    overflow: hidden;
    font-size: 28px;
  }
}

.flex-hold-block {
  &.flex-hold-block-listed {
    margin-bottom: $flex-hold-column-thin-space-desktop;
    padding-bottom: $flex-hold-column-thin-space-desktop;
    border-bottom: $color-2 solid 1px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .flex-hold-child-image {
    width: 236px;

    .flex-hold-child-image-aligner {
      text-align: right;
    }
  }

  .flex-hold-child-texts {
    width: calc(100% - 236px);
    padding-left: $flex-hold-column-thin-space-desktop;
  }
}

.editor-info {
  position: relative;
  z-index: 30;

  &.hidden-label {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    display: none;
  }

  .admin-index {
    position: absolute;
    top: 0;
    left: 0;
    padding: 7px;
    font-size: $cta2-size-smartphone;
    line-height: $cta2-size-smartphone;
    background-color: $color-1;
    color: $color-4;

    .hide-me {
      cursor: pointer;
      background-color: $color-2;
      padding: 5px 7px;
      margin-right: 10px;
      font-weight: $font-weight-1;
    }
  }
}