// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';
$logo-width: 200px;
$hamburger-width: 45px; // header

#preheader {
  display: none;
  //height: $header-desktop-height;
}

#header {
  height: $header-desktop-height;

  &.hidden {
    pointer-events: none;
    transform: translateY(-$header-desktop-height);
  }

  #header-structure {
    width: 100%;
    height: $header-desktop-height;

    .logo {
      width: $logo-width;
      height: $header-desktop-height;

      a {
        top: 8px;
        height: calc(#{$header-desktop-height} - 16px);
      }
    }

    .menu {
      width: calc(100% - #{$logo-width} - #{$hamburger-width});
      text-align: right;

      .header-menu {
        width: 100%;
        @include flex-wrap;
        @include flex-verticalize;
        text-align: right;
        justify-content: flex-end;
        font-weight: $font-weight-3;

        li {
          position: relative;
          display: inline-block;
          margin: 0 0 0 3%;
          text-align: left;

          button {
            font-weight: $font-weight-3;
            text-transform: uppercase;
          }

          &.menu-item-has-children a,
          .nav-simple-button {

            &:after {
              content: "";
              position: relative;
              top: -2px;
              display: inline-block;
              width: 14px;
              height: 8px;
              margin-left: 5px;
              -webkit-mask-image: url(assets/images/icons/sub-menu-icon.svg);
              mask-image: url(assets/images/icons/sub-menu-icon.svg);
              -webkit-mask-repeat: no-repeat;
              mask-repeat: no-repeat;
              mask-size: contain;
              background-color: var(--color-1);
              @include transition(all 0.2s linear);
              transform-origin: center;
            }

            &.clicked {
              &:after {
                transform: rotate(180deg);
              }
            }
          }

          &:first-child {
            margin: 0;
          }

          &.menu-item-has-children {
            padding: 0;
          }
        }

        .current-page-ancestor,
        .current_page_item {}

        .sub-menu {
          position: absolute;
          z-index: 9997 !important;
          top: 30px;
          left: 50%;
          width: 220px;
          margin-left: -110px;
          padding: 30px 0 !important;
          border-radius: 12px;
          text-align: left;
          text-transform: none;
          opacity: 0;
          pointer-events: none;
          @include transition(all 0.15s linear);
          overflow: hidden;
          color: var(--color-1);
          background-color: var(--color-4);
          border: solid 1px var(--color-1);

          &:has(a:focus-visible) {
            height: auto;
            pointer-events: all;
            opacity: 1;
          }

          &.visible {
            height: auto;
            pointer-events: all;
            opacity: 1;
          }

          &.activated {
            height: auto;
            pointer-events: all;
            opacity: 1;
          }

          li {
            width: 100%;
            padding: 0 0 10px;
            margin: 0 0 10px;
            text-align: center;
            border-bottom: var(--color-2) solid 1px;
            font-weight: $font-weight-1;

            &:last-child {
              border-bottom: none;
              padding: 0;
              margin: 0;
            }

            a:link,
            a:visited {
              color: var(--color-1);
              display: inline-block;
              width: 100%;
              padding: 0 10px;
              margin: 0;

              &:after {
                display: none;
                visibility: hidden;
              }
            }

            a:active,
            a:hover {
              color: var(--color-2);
            }
          }
        }
      }
    }

    .side-head {
      width: $hamburger-width;
      text-align: right;

      ul {
        width: 100%;

        li {
          text-align: center !important;
          display: inline-block;
          margin: 0 2%;
        }

        li:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .submenu-close {
    position: absolute;
    top: $header-desktop-height;
    width: 100vw;
    height: calc(100dvh - #{$header-desktop-height});
    visibility: hidden;
    display: none;
    pointer-events: none;
    visibility: visible;

    &.active {
      visibility: visible;
      display: block;
      pointer-events: all;
    }
  }
}

#head-overlay {
  top: $header-desktop-height;
  height: calc(100dvh - #{$header-desktop-height});


  .menu {
    width: 100%;

    .overlay-menu-css {
      width: 100%;
      text-align: left;
      border-top: solid 1px var(--color-3) !important;
      margin-top: $header-desktop-height;

      li {
        position: relative;
        display: block;
        border-bottom: solid 1px var(--color-3) !important;

        a,
        button {
          position: relative;
          display: inline-block;
          width: 100%;
          padding: 20px 0;
        }

        &.menu-item-has-children {

          a,
          button {
            padding: 20px 55px 20px 0;

            &:after {
              content: "";
              position: absolute;
              top: 50%;
              right: 0;
              transform: translate(0, -50%) rotate(0);
              transform-origin: center;
              width: 14px;
              height: 8px;
              margin-left: 5px;
              -webkit-mask-image: url(assets/images/icons/sub-menu-icon.svg);
              mask-image: url(assets/images/icons/sub-menu-icon.svg);
              -webkit-mask-repeat: no-repeat;
              mask-repeat: no-repeat;
              mask-size: contain;
              background-color: var(--color-1);
              @include transition(all 0.2s ease-in-out);
              transform-origin: center;
            }

            &.clicked {
              &:after {
                transform: translate(0, -50%) rotate(180deg);
              }
            }
          }
        }
      }

      .current-page-ancestor,
      .current_page_item {}

      .sub-menu {
        background-color: var(--color-3);
        interpolate-size: allow-keywords;
        @include transition(opacity, height 0.3s linear);
        overflow: hidden;
        //visibility: hidden;
        height: 0;
        // opacity: 0;

        &.visible {
          @include transition(opacity, height 0.3s linear);
          height: auto;
          //visibility: visible;
          //opacity: 1;
        }

        li {
          width: 100%;
          padding-left: 20px;
          border-bottom: solid 1px var(--color-4) !important;

          &:last-child {
            border-bottom: none !important;


          }

          a {
            display: block;
            //width: calc(100% - (#{$wrapper-padded-desktop} * 2));
            padding: 20px 0;

            &:before {
              display: inline-block;
              content: "-";
              margin-right: 10px;
            }

            &:after {
              display: none;
              visibility: hidden;
            }
          }
        }
      }
    }
  }

  .user-accessibility-options {
    margin: 20px 0;
  }
}

.scroll-opportunity {
  height: calc(100dvh - #{$header-desktop-height});
  padding-bottom: $module-vertical-padding-desktop;
}

// footer

#footer {
  padding-top: 72px;
  padding-bottom: 16px;

  .desktop-align-right {
    text-align: right;
  }

  .footer-logo {
    max-width: 200px;
    height: 70px;
  }

  .footer-menu {
    width: 100%;
    text-align: left;
    margin: 50px 0;

    li {
      display: inline-block;
      margin: 0 20px 0 0;

      &:last-child {
        margin: 0;
      }
    }
  }

  .user-accessibility-options {}
}

.inline-socials {
  margin: 20px 0;

  li {
    margin-bottom: 10px;
  }
}