// main: ../style.scss
@import '../global/vars';
@import '../global/function-mixin';
$logo-width: 200;
$hamburger-width: 45;

// header


#header {

  #header-structure {
    width: 100%;
    padding: rem(16) 0;

    .logo {
      width: rem($logo-width);
      height: rem(60);
      align-self: center;
    }

    .header-main-menu-desktop {
      width: calc(100% - rem($logo-width));
      text-align: right;

      .menu-list {
        width: 100%;
        @include flex-wrap;
        @include flex-verticalize;
        text-align: right;
        justify-content: flex-end;

        li {
          position: relative;
          display: inline-block;
          margin: 0 0 0 2%;
          text-align: left;


          &:first-child {
            margin: 0;
          }

          &:last-child {

            &.menu-item-has-children {
              .sub-menu {
                left: auto;
                right: 0;
                translate: 0 rem(30);
              }
            }
          }

          &.menu-item-has-children {
            padding: 0;
          }
        }

        .current-page-ancestor,
        .current_page_item {}

        .sub-menu {
          position: absolute;
          z-index: 9997 !important;
          left: 50%;
          width: rem(220);
          translate: -50% rem(30);
          padding: rem(30) 0 !important;
          border-radius: rem(12);
          text-align: left;
          text-transform: none;
          opacity: 0;
          visibility: hidden;
          pointer-events: none;
          @include transition(all 0.15s linear);
          overflow: hidden;
          color: var(--color-1);
          background-color: var(--color-4);
          border: solid rem(1) var(--color-1);

          &:has(a:focus-visible),
          &.visible,
          &.activated {
            height: auto;
            pointer-events: all;
            opacity: 1;
            visibility: visible;
          }

          li {
            width: 100%;
            padding: 0 0 rem(10);
            margin: 0 0 rem(10);
            text-align: center;
            border-bottom: var(--color-2) solid rem(1);
            font-weight: $font-weight-1;

            &:last-child {
              border-bottom: none;
              padding: 0;
              margin: 0;
            }

            a:link,
            a:visited {
              display: block;
              width: 100%;
              padding: 0 rem(10);
              margin: 0;

              &:after {
                display: none;
                visibility: hidden;
              }
            }
          }
        }
      }
    }

    .side-head {
      display: none;
      visibility: hidden;
    }
  }

  .submenu-close {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100dvh;
    visibility: hidden;
    display: none;
    pointer-events: none;

    &.active {
      visibility: visible;
      display: block;
      pointer-events: all;
    }
  }
}

#head-overlay {
  display: none;
  visibility: hidden;
}

// footer

#footer {
  padding-top: rem(72);
  padding-bottom: rem(16);

  .desktop-align-right {
    text-align: right;
  }

  .footer-logo {
    max-width: rem(200);
    height: rem(70);
  }

  .footer-menu {
    width: 100%;
    text-align: left;
    margin: rem(50) 0;

    li {
      display: inline-block;
      margin: 0 rem(20) 0 0;

      &:last-child {
        margin: 0;
      }
    }
  }

  .user-accessibility-options {}
}

.inline-socials {
  margin: rem(20) 0;

  li {
    margin-bottom: rem(10);
  }
}


#pre-header {
  padding: rem(5) 0;
  border-bottom: solid rem(1) var(--color-1);
  height: rem(31); // impostare ispezionando la pagina e contrllando l'altezza del blocco #pre-header

  &.initialized {
    height: auto;
  }

  p {
    font-size: rem($h6-size-desktop);
    line-height: rem($h6-lineheight-desktop);
    margin: 0 0 rem($h6-marginbottom-desktop);

  }

  .close-header-notice {
    top: rem(3);
    width: rem($h6-size-desktop);
    height: rem($h6-size-desktop);
  }


  .avviso-content {
    // IMPORTANTE: line-height definito per calcolo corretto
    font-size: rem($h6-size-desktop);
    line-height: rem($h6-lineheight-desktop);
  }

  .avviso-container {
    padding-right: calc(rem($h6-size-desktop) + rem(20));
  }

  .expander {
    padding: 0 0 0 rem(20);
    font-size: rem($h6-size-desktop);
    line-height: rem($h6-lineheight-desktop);
    font-weight: $font-weight-3;

    &:after {
      top: rem(2);
      left: rem(0);
      width: rem($h6-size-desktop);
      height: rem($h6-size-desktop);
    }
  }

  .expanding-block {
    margin-bottom: 0;
    border: none;

    &.hovered {
      box-shadow: none
    }

    .expandable-content {
      .inner {
        //max-width: rem(900);
        padding: 0;
      }
    }
  }
}