// main: ../style.scss
@import '../global/vars';
@import '../global/function-mixin'; // wrappers and more

.listing-grid-container {
  margin: rem($module-vertical-padding-desktop) 0;
}

.infinite-button,
.wp-pagenavi {
  margin-bottom: rem($module-vertical-padding-desktop);
}

.grid-listing-image {
  position: relative;
  margin-bottom: rem(24);
}

.grid-listing-texts {}