// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

.wp-caption.aligncenter,
.wp-caption.alignnone {
	margin-bottom: 15px;
}

.wp-caption.alignleft,
.wp-caption.alignright {
	width: 50% !important;
	margin-bottom: 15px;
}

.wp-caption.alignleft {
	float: left;
	margin-right: 20px;
}

.wp-caption.alignright {
	float: right;
	margin-left: 20px;
}

.above-image-opacity {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

.coverize {

	img,
	video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: 50% 50%;
	}
}

.uncoverize {

	img,
	video {
		position: relative;
		object-fit: auto;
		width: 100%;
		height: auto;
	}
}

.video-stop {
	position: absolute;
	z-index: 2;
	bottom: 10px;
	right: 10px;
	width: 20px;
	height: 20px;
	border: none;
	background-color: $color-4;
	border-radius: 50%;
	cursor: pointer;

	&:before {
		position: absolute;
		z-index: 2;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		content: '\0801';
		font-family: "paperplane-blank-theme-social-icons";
		font-style: normal;
		font-weight: normal;
		speak: never;
		font-size: 12px;
		color: $color-1;
	}

	&.pause {
		&:before {
			content: '\0802';
		}
	}
}