// main: ../style.scss
@import '../global/vars';
@import '../global/function-mixin';

.wp-caption.aligncenter,
.wp-caption.alignnone {
	margin-bottom: rem(15);
}

.wp-caption.alignleft,
.wp-caption.alignright {
	width: 50% !important;
	margin-bottom: rem(15);
}

.wp-caption.alignleft {
	float: left;
	margin-right: rem(20);
}

.wp-caption.alignright {
	float: right;
	margin-left: rem(20);
}

.coverize {

	img,
	video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: 50% 50%;
	}
}