// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

.mega-menu {
  position: fixed;
  z-index: 9998;
  top: $header-desktop-height;
  left: $wrapper-padded-desktop;
  display: block;
  width: calc(100% - (#{$wrapper-padded-desktop} * 2));
  @include define-basic-transition(opacity, 0.4s);
  opacity: 1;
  pointer-events: all;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  .mega-menu-holder {
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 0 auto;
    background-color: $color-4;
  }

  .mega-menu-holder-contained {
    max-width: 1220px;
  }

  .mega-menu-spacer {
    padding: 48px 70px;

    .mega-menu-page-list {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;


      li {
        display: block;
        margin-bottom: 25px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .cta-holder {
      margin: 35px 0 0;
    }
  }
}