// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

.mega-menu {
  position: fixed !important;
  z-index: 9998;
  top: $header-desktop-height;
  //left: $wrapper-padded-desktop;
  left: 0;
  display: block;
  //width: calc(100% - (#{$wrapper-padded-desktop} * 2));
  width: 100%;
  @include transition(visibility .3s linear, opacity .3s linear);
  opacity: 1;
  pointer-events: all;
  visibility: visible;
  border-bottom: solid rem(2) var(--color-2);
  border-top: solid rem(2) var(--color-2);
  content-visibility: auto;

  &.hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .flex-hold-mega-menu {
    .mega-menu-column-1 {
      width: rem(400);
    }

    .mega-menu-column-2 {
      width: calc(50% - rem(200));
      padding: 0 0 0 $wrapper-padded-desktop;
    }

    .mega-menu-column-3 {
      width: calc(50% - rem(200));
      padding: 0 0 0 $wrapper-padded-desktop;
    }
  }

  .mega-menu-holder {
    position: relative;
    z-index: 2;
    width: 100%;
    max-height: calc(80vh - #{$header-desktop-height});
    margin: 0 auto;
    background-color: var(--color-4);
    overflow-y: auto;
  }

  .mega-menu-holder-contained {
    max-width: rem(1680);
  }

  .mega-menu-spacer {
    padding: rem(48) $wrapper-padded-desktop;

    .mega-menu-page-list {
      font-weight: $font-weight-3;

      li {
        width: 100%;
        display: block;
        margin: 0 0 rem(15) 0 !important;
        padding: 0;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  a {
    position: relative;
  }
}