// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

.paperplane-modal {
  .modal-box {
    //max-width: 900px;
    min-width: rem(350);
    width: 80%;
    max-height: 90vh;
    padding: rem(75) 0 0;

    .modal-title {
      height: rem(75);
      padding: rem(24) rem(40) 0;
    }

    .modal-close-button {
      position: absolute;
      top: rem(24);
      right: rem(24);
      width: rem(32);
      height: rem(32);
      border: none;
      background-color: transparent;
    }

    .insider {
      padding: 0 rem(40) rem(30);
      max-height: calc(90vh - rem(120));

      .inner-message {
        .video-frame {
          margin-bottom: rem(24);
        }
      }
    }
  }
}