// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

.paperplane-modal {
  .modal-box {
    //max-width: 900px;
    min-width: 350px;
    width: 80%;
    max-height: 90vh;
    padding: 75px 0 0;

    .modal-title {
      height: 75px;
      padding: 24px 40px 0;
    }

    .modal-close-button {
      position: absolute;
      top: 24px;
      right: 24px;
      width: 32px;
      height: 32px;
    }

    .insider {
      padding: 0 40px 30px;
      max-height: calc(90vh - 120px);
    }
  }
}