// main: ../style.scss
@import '../global/vars';
@import '../global/function-mixin';

.module-highlighted-sentence {
  .flex-hold-rich-highlighted-sentence {
    .flex-hold-rich-highlighted-sentence-image {
      width: rem(240);
    }

    .flex-hold-rich-highlighted-sentence-text {
      width: calc(100% - rem(240));
      padding-left: calc(#{$wrapper-padded-desktop} * 2);
    }
  }
}