// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

.module-expanding-text {
  .cta-holder {
    margin: 32px 0 0;
  }
}

.expanding-block {
  margin-bottom: 48px;
  padding-bottom: 24px;
  border-bottom: solid 1px var(--color-1);

  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }

  .expander-top {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      all: unset;
    }
  }

  .expander {
    position: relative;
    line-height: 17px !important;
    font-weight: $font-weight-2 !important;
    padding-left: 25px !important;
    text-align: left;
    border: none;
    background-color: transparent;
    color: var(--color-1);
    font-family: $font-main;
    font-weight: $font-weight-1;
    font-size: $h4-size-desktop;
    line-height: $h4-lineheight-desktop;
    cursor: pointer;

    &:hover {
      color: var(--color-2);
    }

    &.exp-open {
      .icon-js {
        &:before {
          content: "+";
        }
      }
    }

    &.exp-close {
      .icon-js {
        &:before {
          content: "-";
        }
      }
    }

    .icon-js {
      position: absolute;
      left: 0;
      font-weight: $font-weight-4;
    }
  }

  .expandable-content {
    .inner {
      padding-top: 15px;
      padding-left: 25px;
    }
  }

  .expander-closer {
    font-family: $font-main;
    font-size: $h6-size-desktop;
    line-height: $h6-lineheight-desktop;
    border: none;
    background-color: transparent;
    padding: 0;
  }
}