// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

.module-stripe {
  .wrapper-padded {
    overflow-y: hidden;
  }

  .stripe-listed {
    margin-bottom: rem(80);

    &:last-of-type {
      margin-bottom: 0;
    }

    &.stripe-image-text {
      .module-stripe-image {
        order: 1;

        .spacer {
          width: 100%;
        }
      }

      .module-stripe-text {
        order: 2;

        .spacer {
          width: 100%;
          padding: rem(20) 0 rem(20) rem(50);
          max-width: rem(850);
        }
      }
    }

    &.stripe-text-image {
      .module-stripe-image {
        order: 2;

        .spacer {
          width: 100%;
        }
      }

      .module-stripe-text {
        order: 1;

        .spacer {
          width: 100%;
          padding: rem(20) rem(50) rem(20) 0;
          max-width: rem(850);
          margin-left: auto;
        }
      }
    }

    .cta-holder {
      text-align: inherit;
    }
  }

  .cta-holder {
    text-align: center;
  }
}