// main: ../style.scss
@import '../global/vars';
@import '../global/function-mixin';

.module-columns {
  .cta-holder {
    text-align: center;
    margin: rem(64) 0 0;
  }

  .module-column-box {
    .column-image {
      position: relative;
      display: inline-block;
      width: 100%;
      margin-bottom: rem(24);

      .image-rounder {
        width: rem(250);
      }

      .image-icon {
        display: inline-block;
        width: rem(100);
      }
    }

    .counter {

      .as-h1,
      h2,
      h3 {
        display: inline-block;
        margin-bottom: rem(10);
      }

      .counter-label {
        display: block;
        width: 100%;
      }
    }

    .cta-holder {
      text-align: inherit;
    }
  }
}