// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

.module-spacer {
  padding: 72px 0;
}

.module-spacer-flex {
  padding: 72px 0 24px;
}

.grid-listing-texts {
  &.last-child-no-margin {
    margin-top: 30px !important;
  }
}

.module-fullscreen-image {
  .module-box-fullscreen {
    position: relative;
    display: block;
    width: 100%;
    min-height: 60vh;
    overflow: hidden;
  }
}

.module-banner {
  .banner-space {
    padding: 48px 72px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .flex-hold-banner-image {
    .banner-box {
      position: relative;
      -webkit-box-flex: 1;
    }

    .banner-image {
      width: 236px;
      margin-right: 72px;
    }

    .banner-text {
      width: calc(100% - 553px);
    }

    .banner-cta {
      width: 210px;
      margin-left: 32px;
      text-align: right;
    }
  }

  .flex-hold-banner {
    .banner-box {
      position: relative;
      -webkit-box-flex: 1;
    }

    .banner-text {
      width: calc(100% - 245px);
    }

    .banner-cta {
      width: 210px;
      margin-left: 32px;
      text-align: right;
    }
  }
}

.image-icon {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.download-block {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
  }

  .download-icon {
    position: relative;
    padding-left: 43px;

    i {
      position: absolute;
      left: 0;
      top: 4px;
      font-size: 30px;
    }
  }
}

.expandable-content {
  padding-top: 35px;
}