// main: ../style.scss
@import '../global/vars';
@import '../global/function-mixin';

.opening-fullscreen {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  @include transition(height 0.3s);
}

.opening-fullscreen {
  //min-height: calc(100vh - var(--header-height-static));
  min-height: calc(100vh - rem(92));
}

.fullscreen-video {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;

  video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.fullscreen-cta {
  display: grid;

  .fullscreen-cta-safe-padding {
    padding: 5vh 0;
    overflow: hidden;
  }

  .fullscreen-cta-aligner {
    position: relative;
    width: 100%;
  }
}

.fullscreen-cta-center {
  padding: 0;
  margin: 0;
  align-content: center;
}

.fullscreen-cta-top {
  justify-content: start;
  align-content: start;
}

.fullscreen-cta-bottom {
  justify-content: end;
  align-content: end;
}


.fullscreen-cta-safe-padding,
.page-opening-simple-spacer {

  .last-child-no-margin {
    max-width: 80%;
  }

  &.alignright {
    .last-child-no-margin {
      float: right;
    }
  }

  &.aligncenter {
    .last-child-no-margin {
      margin: 0 auto;
    }
  }
}

.opening-text-image {
  padding-top: rem(100);

  .image-box {
    position: relative;

    .inner {
      position: relative;
      width: 50vw;
    }

    .text-box {
      position: relative;
    }
  }

  &.txt-img {
    .text-box {
      order: 1;
    }

    .image-box {
      order: 2;
    }
  }

  &.img-txt {
    .text-box {
      order: 2;
    }

    .image-box {
      order: 1;

      .inner {
        position: absolute;

        right: 0;
        width: 50vw;
      }
    }
  }
}

.page-opening-simple-spacer {
  padding: rem(48) 0;
}

.breadcrumbs-holder {
  margin-bottom: rem(32);
}