// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

.page-opening-fullscreen,
.page-opening-fullscreen-less {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
}

.page-opening-fullscreen {
  min-height: 100dvh;
}

.page-opening-fullscreen-less {
  position: relative;
  min-height: 88dvh;
}

.fullscreen-video {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;

  video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.fullscreen-cta {
  display: grid;

  .fullscreen-cta-safe-padding {
    padding: calc(#{$header-desktop-height} + 5vh) 0 5vh 0;
    overflow: hidden;
  }

  .fullscreen-cta-aligner {
    position: relative;
    width: 100%;
  }

  .cta-holder {
    margin: 32px 0 0;
  }
}

.fullscreen-cta-center {
  padding: 0;
  margin: 0;
  align-content: center;
}

.fullscreen-cta-top {
  justify-content: start;
  align-content: start;
}

.fullscreen-cta-bottom {
  justify-content: end;
  align-content: end;
}


.fullscreen-cta-safe-padding,
.page-opening-simple-spacer {

  .last-child-no-margin {
    max-width: 80%;
  }

  &.alignright {
    .last-child-no-margin {
      float: right;
    }
  }

  &.aligncenter {
    .last-child-no-margin {
      margin: 0 auto;
    }
  }
}

.scroll-down {
  position: absolute;
  bottom: 5vh;
  left: 50%;
  transform: translate(-50%, 0);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
  text-align: center;
  background-color: $color-1;
  color: $color-4;

  &:hover {
    opacity: 0.8;
  }

  a {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    color: $color-4;

    &:before {
      content: "↓";
      position: relative;
      display: block;
      width: 100%;
      font-size: 40px;
      line-height: 37px;
    }
  }
}

.page-opening-simple-spacer {
  padding: calc(#{$header-desktop-height} + 72px) 0 48px;

  .cta-holder {
    margin: 35px 0 0;
  }
}

.breadcrumbs-holder {
  margin-bottom: 32px;
}

.categories-holder {
  margin: 32px 0 0;

  a {
    margin: 0 16px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}