// main: ../style.scss
@import '../global/vars';
@import '../global/function-mixin';

.search-container {
    position: relative;
    margin: rem(10) 0;

    .input-elements {
        position: relative;
    }

    input[type=text],
    input[type=search] {
        margin: 0;
        width: calc(100% - rem(53));
    }

    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-decoration {
        display: none;
        visibility: hidden;
    }

    /* Per Firefox */
    input[type="search"]::-moz-clear {
        display: none;
        visibility: hidden;
    }

    .search-close {
        position: absolute;
        z-index: 99999;
        right: rem(56);
        top: 50%;
        translate: 0 -50%;
        width: rem(41);
        height: rem(41);
        background-color: transparent;
        border: none;
        cursor: pointer;
        visibility: hidden;
        display: none;

        &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            display: block;
            width: rem(20);
            height: rem(20);
            mask-image: url(assets/images/icons/close.svg);
            mask-repeat: no-repeat;
            mask-size: contain;
            mask-position: 50% 50%;
            background-color: currentColor;
        }



        &.visible {
            visibility: visible;
            display: block;
        }
    }

    .search-submit {
        position: absolute;
        right: rem(3);
        top: 50%;
        translate: 0 -50%;
        width: rem(41);
        height: rem(41);
    }
}

.suggestions-container {
    position: absolute;
    z-index: 10;
    left: 0;
    width: calc(100% - rem(53));
    max-height: 35vh;
    background-color: var(--color-4);
    overflow: auto;
    padding: 0;
    border: solid rem(1) var(--color-1);
    visibility: hidden;
    opacity: 0;
    @include transition(visibility, opacity 0.3s linear);
    font-size: rem($h6-size-desktop);
    line-height: rem($h6-lineheight-desktop);

    &.visible {
        visibility: visible;
        opacity: 1;
    }
}

.suggestion-item {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    margin: 0;
    min-height: rem(50);
    padding: rem(10);
    border-bottom: solid rem(1) var(--color-2);
    background-color: var(--color-4);

    &:hover {
        background-color: var(--color-3);
    }

    &:last-of-type {
        border-bottom: none;
    }

    &[aria-selected="true"] {
        background-color: var(--color-3);
        text-decoration: underline;
    }
}


.search-result-counter {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    margin: 0;
    padding: rem(10);
    background-color: var(--color-4);
    border-bottom: solid rem(1) var(--color-2);
    pointer-events: none;
}

.search-result-close {
    position: sticky;
    z-index: 2;
    bottom: 0;
    padding: rem(10) 0 rem(10) 0;
    background-color: var(--color-4);
    border-top: solid rem(1) var(--color-2);
}

.suggestion-image {
    width: rem(50);
    height: rem(50);
    margin-right: rem(10);
    flex-shrink: 0;
}

.suggestion-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.suggestion-title {
    flex-grow: 1;
}

.close-search-results {
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 100%;
    font-family: $font-main;
    font-weight: $font-weight-3;
}