// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

.slider-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: rem(68);
}


.slider-images {
  position: relative;
  width: 100%;

  &:before {
    content: "";
    position: absolute;
    z-index: 2;
    top: rem(-2);
    left: 0;
    display: block;
    width: 50vw;
    height: 100%;
    transform: translate(-50vw, 0);
    background-color: var(--color-4);
  }

  .slick-list,
  .slick-track {
    overflow: visible;
  }

  .slick-slide {
    overflow: hidden;
  }

  .slide {
    position: relative;
    padding-right: rem(32);

    img {
      height: 60vh;
      width: auto;
    }
  }
}

.slide-caption {
  position: relative;
  width: auto;
  height: auto;
  display: inline-block;
  overflow: visible;
  padding: rem(15) rem(10) 0 0;

  &.hidden {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
  }
}

// navigation

.slick-next,
.slick-prev {
  top: rem(-68);
  cursor: pointer;
  width: rem(38);
  height: rem(38);

  &.slick-disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.slick-prev {
  left: 0;
}

.slick-next {
  left: rem(48);
}

.paging-info {
  position: relative;
  display: block;
  width: 100%;
  padding: rem(10) 0 0;
  text-align: center;
}

.slick-dots {
  text-align: center;
  padding: rem(10) 0 0 0 !important;

  li {
    display: inline-block;
    margin: 0 rem(5);



    button {
      width: rem(20);
      height: rem(20);
      border: none;
      font-size: 0;
      margin: 0;
      padding: 0;
      @include transition(all 0.3s linear);
      border-radius: rem(20);
      cursor: pointer;
    }
  }
}

.slide-prev-custom,
.slide-next-custom {
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}