 // main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

// wrappers and more

.wrapper {
  position:relative;
  width: 100%;
	margin: 0 auto;
}

.wrapper-padded {
  position:relative;
  width: calc(100% - (#{$wrapper-padded-desktop} * 2));
  margin: 0 auto;
  padding: 0 $wrapper-padded-desktop 0 $wrapper-padded-desktop;
}

.wrapper-padded-more {
  position:relative;
  width: 100%;
	max-width: 1068px;
	margin: 0 auto;
}

.wrapper-padded-more-924 {
  position:relative;
  width: 100%;
	max-width: 924px;
	margin: 0 auto;
}

.wrapper-padded-more-700 {
  position:relative;
  width: 100%;
	max-width: 700px;
	margin: 0 auto;
}

.wrapper-padded-more-650 {
  position:relative;
  width: 100%;
	max-width: 650px;
	margin: 0 auto;
}

.wrapper-padded-more-500 {
  position:relative;
  width: 100%;
	max-width: 500px;
	margin: 0 auto;
}

// paddings- margins

.page-opening-simple-spacer {
  padding: 72px 0 48px 0;
  .cta-holder {
    margin: 35px 0 0 0;
  }
}

// fullscreen boxes





.fixx {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 0;
}





.fullscreen-cta-center-object {
  padding: 0;
  margin: 0;
  @include flex-verticalize;
  .fullscreen-cta-aligner {
    .fullscreen-cta-safe-padding {
      padding: 5vh 0;
    }
  }
}
