// main: ../style.scss
@import '../global/vars';
@import '../global/function-mixin';

.as-h1,
h1 {
  font-size: rem($h1-size-desktop);
  line-height: rem($h1-lineheight-desktop);
  margin: 0 0 rem($h1-marginbottom-desktop);
  hyphens: auto;
  -webkit-hyphens: auto;
  hyphenate-limit-chars: 7 3 2;
}

.as-h2,
h2 {
  font-size: rem($h2-size-desktop);
  line-height: rem($h2-lineheight-desktop);
  margin: 0 0 rem($h2-marginbottom-desktop);
}

.as-h3,
h3 {
  font-size: rem($h3-size-desktop);
  line-height: rem($h3-lineheight-desktop);
  margin: 0 0 rem($h3-marginbottom-desktop);
}

.as-h4,
h4 {
  font-size: rem($h4-size-desktop);
  line-height: rem($h4-lineheight-desktop);
  margin: 0 0 rem($h4-marginbottom-desktop);
}

.as-h5,
h5 {
  font-size: rem($h5-size-desktop);
  line-height: rem($h5-lineheight-desktop);
  margin: 0 0 rem($h5-marginbottom-desktop);
}

.mega-menu p,
#footer p,
.as-h6,
figcaption,
h6 {
  font-size: rem($h6-size-desktop);
  line-height: rem($h6-lineheight-desktop);
  margin: 0 0 rem($h6-marginbottom-desktop);
}

p,
.as-p {
  font-size: rem($paragraph-size-desktop);
  line-height: rem($paragraph-lineheight-desktop);
  margin: 0 0 rem($paragraph-marginbottom-desktop);
  padding: 0;
}

summary {
  font-size: rem($h5-size-desktop);
  line-height: rem($h5-lineheight-desktop);
}

.header-main-menu-desktop,
.header-main-menu-desktop a {
  font-size: rem($nav-size-desktop);
  line-height: rem($nav-lineheight-desktop);
}

.content-styled {
  h1:not(:first-of-type) {
    //margin-top: calc(#{$h1-marginbottom-desktop} * 2);
  }

  h2:not(:first-of-type) {
    margin-top: rem($h2-marginbottom-desktop);
  }

  h3:not(:first-of-type) {
    //margin-top: calc(#{$h3-marginbottom-desktop} * 2);
  }

  h4:not(:first-of-type) {
    //margin-top: calc(#{$h4-marginbottom-desktop} * 2);
  }

  h5:not(:first-of-type) {
    //margin-top: calc(#{$h5-marginbottom-desktop} * 2);
  }

  h6:not(:first-of-type) {
    //margin-top: calc(#{$h6-marginbottom-desktop} * 2);
  }

  ul {
    font-size: rem($paragraph-size-desktop);
    line-height: rem($paragraph-lineheight-desktop);
    margin-bottom: rem($paragraph-marginbottom-desktop);

    li {
      padding-left: rem($paragraph-size-desktop);
      margin-bottom: rem($paragraph-size-desktop / 2);

      &:before {
        top: rem($paragraph-size-desktop / 2);
        width: rem($paragraph-size-desktop / 2);
        height: rem($paragraph-size-desktop / 2);
      }
    }
  }

  ol {
    font-size: rem($paragraph-size-desktop);
    line-height: rem($paragraph-lineheight-desktop);
    margin-bottom: rem($paragraph-marginbottom-desktop);
  }

  ol>li {
    &:before {
      font-family: $font-main;
      font-size: rem($paragraph-size-desktop);
    }

    &:after {
      height: calc(#{$paragraph-marginbottom-desktop} / 2);
    }
  }
}

.wp-caption-text,
.wp-caption.aligncenter .wp-caption-text,
.wp-caption.alignleft .wp-caption-text,
.wp-caption.alignnone .wp-caption-text,
.wp-caption.alignright .wp-caption-text {
  padding: rem(5) 0 0;
  font-size: $cta1-size-desktop;
  line-height: $cta1-lineheight-desktop;
  word-wrap: break-word;
  font-style: italic;
}