// main: ../style.scss
@import '../global/vars';
@import '../global/mixin'; // wrappers and more

.mobile-only {
  display: none;
  visibility: hidden;
  pointer-events: none;

  *,
  *::after,
  *::before {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
}

.wrapper-padded {
  width: 100%;
  padding: 0 $wrapper-padded-desktop;
}

.wrapper-padded-slideshow {
  width: 100%;
  padding: 0 $wrapper-padded-desktop;
  overflow: visible;
}

.wrapper-padded-container {
  max-width: 1300px;
}

.wrapper-padded-more-924 {
  max-width: 924px;
}

.wrapper-padded-more-700 {
  max-width: 700px;
}

.module-paddings-top {
  padding-top: $module-vertical-padding-desktop;
}

.module-paddings-top-double {
  padding-top: calc(#{$module-vertical-padding-desktop} * 2);
}

.module-no-paddings-top {
  padding-top: 0;
}

.module-paddings-bottom {
  padding-bottom: $module-vertical-padding-desktop;
}

.module-paddings-bottom-double {
  padding-bottom: calc(#{$module-vertical-padding-desktop} * 2);
}

.module-no-paddings-bottom {
  padding-bottom: 0;
}

.sticky-element {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: calc(#{$header-desktop-height} + 35px);
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
  width: 12px;
  border: none;
  background: transparent;
  -webkit-appearance: none !important;
}

::-webkit-resizer,
::-webkit-scrollbar-button,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track-piece {
  display: none;
}

::-webkit-scrollbar-thumb {
  width: 12px;
  background-color: $color-2;
}

::-webkit-scrollbar-track {
  //-webkit-appearance: none !important;
  //display: none !important;
  opacity: 0 !important;
  //visibility: hidden !important;
  //width: 0 !important;
  //background-color: $color-2;
  background-color: transparent;
}

:root {
  scrollbar-color: $color-4 $color-2 !important;
  scrollbar-width: auto !important;
}