// main: ../style.scss
@import '../global/vars';
@import '../global/mixin'; // wrappers and more

.mobile-only {
  display: none;
  visibility: hidden;
  pointer-events: none;

  img,
  video,
  iframe,
  *,
  *::after,
  *::before {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
}

.wrapper {
  //max-width: 2000px;
}

.wrapper-padded {
  width: 100%;
  padding: 0 $wrapper-padded-desktop;
  max-width: $wrapper-max-width-desktop;
}

.wrapper-padded-slideshow {
  width: 100%;
  padding: 0 $wrapper-padded-desktop;
  overflow: visible;
}

.wrapper-padded-container {
  max-width: rem(1300);
}

.wrapper-padded-more-924 {
  max-width: rem(924);
}

.wrapper-padded-more-700 {
  max-width: rem(700);
}

.module-paddings-top {
  padding-top: $module-vertical-padding-desktop;
}

.module-paddings-top-big {
  padding-top: $module-vertical-padding-big-desktop;
}

.module-no-paddings-top {
  padding-top: 0;
}

.module-paddings-bottom {
  padding-bottom: $module-vertical-padding-desktop;
}

.module-paddings-bottom-big {
  padding-bottom: $module-vertical-padding-big-desktop;
}

.module-no-paddings-bottom {
  padding-bottom: 0;
}

.sticky-element {
  position: sticky;
  top: calc(#{$header-desktop-height} + rem(35));
}