// main: ../style.scss
@import '../global/vars';
@import '../global/function-mixin'; // wrappers and more

.mobile-only {
  display: none;
  visibility: hidden;
  pointer-events: none;

  img,
  video,
  iframe,
  *,
  *::after,
  *::before {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
}

.wrapper-padded {
  width: 100%;
  padding: 0 $wrapper-padded-desktop;
  max-width: rem($wrapper-max-width-desktop);
}

.wrapper-padded-slideshow {
  width: 100%;
  padding: 0 $wrapper-padded-desktop;
  overflow: visible;
}

.wrapper-padded-container {
  max-width: rem(1300);
}

.wrapper-padded-more-924 {
  max-width: rem(924);
}

.wrapper-padded-more-700 {
  max-width: rem(700);
}

.module-paddings-top {
  padding-top: rem($module-vertical-padding-desktop);
}

.module-paddings-top-big {
  padding-top: rem($module-vertical-padding-big-desktop);
}

.module-no-paddings-top {
  padding-top: 0;
}

.module-paddings-bottom {
  padding-bottom: rem($module-vertical-padding-desktop);
}

.module-paddings-bottom-big {
  padding-bottom: rem($module-vertical-padding-big-desktop);
}

.module-no-paddings-bottom {
  padding-bottom: 0;
}

.sticky-element {
  position: sticky;
  top: calc(var(--header-height-real-time) + rem(35));
}

.section-anchor {
  scroll-margin-top: calc(var(--header-height-real-time) + rem(20));
}