// main: ../style.scss
@import 'vars';
@import 'function-mixin'; // wrappers and more

html {
    *:focus-visible {

        &:not(input[type=date],
            input[type=email],
            input[type=number],
            input[type=password],
            input[type=tel],
            input[type=text],
            input[type=url],
            input[type=file],
            select,
            textarea,
            #page-content,
            .absl,
            .card-link, .logo-mask-focus-visible a) {
            z-index: 99999 !important;
            background-color: var(--color-4) !important;
            color: var(--color-1) !important;
            box-shadow: 0 0 0 rem(2) var(--color-1), 0 0 0 rem(4) var(--color-4);
            transition-duration: 0ms !important;
            transition-property: none !important;
            animation: none 0 !important;
            outline-style: solid;
            outline-color: transparent;
            outline-width: rem(10);
        }

    }

    .absl {
        &:focus-visible {
            z-index: 99999 !important;
            background-color: transparent !important;
            color: var(--color-4) !important;
            box-shadow: 0 0 0 rem(2) var(--color-1), 0 0 0 rem(4) var(--color-4);
            transition-duration: 0ms !important;
            transition-property: none !important;
            animation: none 0 !important;
            outline-style: solid;
            outline-color: transparent;
            outline-width: rem(10);
        }
    }

    .element-icon-after {
        &:focus-visible {
            &:after {
                background-color: var(--color-1) !important;
            }
        }
    }

    .element-icon-before {
        &:focus-visible {
            &:before {
                background-color: var(--color-1) !important;
            }
        }
    }



    .paperplane-toggle {
        &:focus-visible {

            .paperplane-switch-off,
            .fake-label {
                color: var(--color-1) !important;
            }
        }
    }

    .logo-mask-focus-visible {
        &:has(a:focus-visible) {
            background-color: var(--color-4) !important;
            color: var(--color-4) !important;
            box-shadow: 0 0 0 rem(2) var(--color-1), 0 0 0 rem(4) var(--color-4);
        }
    }

    #header-structure {
        .hambuger-element {
            &:focus-visible {
                span {
                    background-color: var(--color-1);
                }
            }
        }
    }



    .play-pause-animation {
        &:focus-visible {
            &:before {
                background-color: var(--color-4);
            }
        }
    }

    .card-link {

        &:focus-visible {
            background-color: transparent !important;
            box-shadow: inset 0 0 0 rem(2) var(--color-1), inset 0 0 0 rem(4) var(--color-4) !important;
        }
    }

    &[data-reduced-motion="true"] {
        * {
            transition-duration: 0ms !important;
            transition-property: none !important;
            animation: none 0 !important;
            animation-duration: 0 !important;

            &:after,
            &:before {
                transition-duration: 0ms !important;
                transition-property: none !important;
                animation: none 0 !important;
            }
        }

        .aos-init {
            opacity: 1 !important;
        }

        .horizontal-scrolling-items {
            display: block;
            width: 100%;

        }

        .horizontal-scrolling-items-item:not(:first-child) {
            display: none;
        }

        .horizontal-scrolling-items-item {
            white-space: normal;
        }

        .txt-item {
            padding-right: 0;
        }
    }

    .unset-aos-animate {
        opacity: 1 !important;
        transform: none !important;
    }

    &[data-reduced-transparency="true"] {

        // include anche prefers-contrast: more
        * :not(#head-overlay, .sub-menu, span[class*="ham-bar-"]) {
            opacity: 1 !important;
        }

        .above-image-opacity {
            background-color: var(--color-4) !important;
        }

        * :not(.sub-menu) {
            opacity: 1 !important;
        }

        * :not(#head-overlay, .sub-menu, span[class*="ham-bar-"]) {
            opacity: 1 !important;
        }
    }
}

.accessible-navi {
    position: fixed !important;
    z-index: 9999;
    top: 2vh;
    left: $wrapper-padded-desktop;
    transform: translateY(-40vh);

    &:focus-visible {
        transform: translateY(0);
    }
}

.accessible-menu-panel {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    background-color: var(--color-1);
    padding: 2vw;
    transform: translateY(-100vh);

    a:link,
    a:visited {
        color: var(--color-4);
    }

    a:hover {
        text-decoration: underline;
    }

    ul {
        li {
            display: inline-block;
            margin: 0 rem(10) rem(10) 0;
        }
    }

    &:focus {
        transform: translateY(0);
    }
}

.screen-reader-text,
.overlay-navi-reset {
    border: 0 !important;
    clip: rect(rem(1), rem(1), rem(1), rem(1)) !important;
    clip-path: inset(50%) !important;
    height: rem(1) !important;
    margin: rem(-1) !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: rem(1) !important;
    word-wrap: normal !important;
}

.user-accessibility-options {
    .paperplane-toggle {

        &:last-of-type {
            border-right: none;
        }
    }
}


.paperplane-toggle {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-family: $font-main;
    padding: rem(3) rem(6) 0 rem(3);
    border-right: solid rem(1) var(--color-3);

    &[aria-checked="true"] {
        .paperplane-switch {
            color: var(--color-4);
            background-color: var(--color-1);
        }


        .paperplane-switch-dot {
            transform: translate(rem(38), 0);
        }
    }

    &:hover {
        .paperplane-switch-dot {
            background-color: var(--color-3);
        }
    }

    .fake-label {
        position: relative;
        margin-bottom: 0;
        display: inline-block;
        color: var(--color-1);
    }

    .paperplane-switch {
        position: relative;
        display: inline-block;
        width: rem(80);
        height: rem(24);
        margin: 0 0 0 rem(10);
        border: solid rem(1) var(--color-4);
        border-radius: rem(7);
        overflow: hidden;
        color: var(--color-1);
        background-color: var(--color-4);
        @include transition(all 0.3s ease-in-out);
    }

    .paperplane-switch-label {
        font-size: rem(8);
        line-height: rem(18);
        font-weight: $font-weight-3;
        text-transform: uppercase;
        color: var(--color-1);
    }

    .paperplane-switch-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: rem(80);
        height: rem(24);
        border-radius: rem(6);
        overflow: hidden;
        -webkit-box-shadow: var(--switch-box-shadow);
        box-shadow: var(--switch-box-shadow);
        background-color: var(--color-3);
    }

    .paperplane-switch-dot {
        position: absolute;
        z-index: 3;
        top: rem(1);
        left: rem(1);
        width: rem(38);
        height: rem(20);
        border-radius: rem(6);
        overflow: hidden;
        border: solid rem(2) var(--color-2);
        background-color: var(--color-4);
        transform: translate(0, 0);
        @include transition(all 0.3s ease-in-out);
    }
}