// main: ../style.scss
@import 'vars';
@import 'mixin'; // wrappers and more

body {

    *:focus-visible {
        box-shadow: 0 0 0 6px $color-form-error;
    }

    &.body-accessible-navi {
        * {
            transition-duration: 0ms !important;
            transition-property: none !important;
            animation: none 0 !important;

            &:after,
            &:before {
                transition-duration: 0ms !important;
                transition-property: none !important;
                animation: none 0 !important;
            }
        }
    }
}




@media (prefers-reduced-motion: reduce) {
    * {
        transition-duration: 0ms !important;
        transition-property: none !important;
        animation: none 0 !important;

        &:after,
        &:before {
            transition-duration: 0ms !important;
            transition-property: none !important;
            animation: none 0 !important;
        }
    }

    .accessible-navi-activate-js {
        display: none;
        visibility: hidden;
    }

    #header {
        background-color: $color-4 !important;
    }
}


@media (prefers-reduced-transparency) {
    body {
        display: none !important;
    }

    * {
        opacity: 1 !important;
        color: #000000 !important;
    }

    .above-image-opacity {
        background-color: rgba(255, 255, 255, 1) !important;
    }
}

@media screen and (prefers-contrast: more) {
    *:focus {
        outline: 0;
        box-shadow: 0 0 0 4px red;
    }

    * {
        background-color: rgba(255, 255, 255, 1) !important;
        color: #000000;

        button {
            background-color: rgba(255, 255, 255, 1) !important;
            color: #000000 !important;
        }

        a:link,
        a:visited,
        a:hover,
        a:active {
            background-color: rgba(255, 255, 255, 1) !important;
            color: #000000 !important;
        }
    }

    .above-image-opacity {
        background-color: rgba(255, 255, 255, 0.9) !important;
    }
}

.accessible-navi {
    position: fixed !important;
    z-index: 9999;
    top: 2vh;
    left: $wrapper-padded-desktop;
    transform: translateY(-10vh);

    &:focus-visible {
        transform: translateY(0);
    }
}

.accessible-menu-panel {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    background-color: $color-1;
    padding: 2vw;
    transform: translateY(-100vh);

    a:link,
    a:visited {
        color: $color-4;
    }

    a:hover {
        text-decoration: underline;
    }

    ul {
        li {
            display: inline-block;
            margin: 0 10px 10px 0;
        }
    }

    &:focus {
        transform: translateY(0);
    }
}

.reduce-motion-button {
    position: fixed;
    z-index: 9994;
    transform: translate(50%, 0);
    border-radius: 40px;
    background-color: $color-1;
    color: $color-3;
    border: solid 1px $color-4;
    overflow: hidden;
    @include transition(bottom 0.9s, visibility 0.3s linear, opacity 0.3s linear);
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: $font-weight-1;
    opacity: 1;
    visibility: visible;

    &.hidden {
        visibility: hidden;
        opacity: 0;
        bottom: -10dvh;
    }

    a {
        color: $color-4;
        text-decoration: underline;
    }

    .opening-icon {
        position: absolute;
        top: 1px;
        left: 1px;
        width: 50px;
        height: 40px;
        line-height: 40px;
        color: $color-4;
        text-align: center;
        overflow: hidden;
        pointer-events: none;

        &:before {
            position: relative;
            top: 1px;
            left: -4px;
            content: '\e827';
            font-family: "paperplane-blank-theme-icons";
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            speak: never;
            animation: reduce-motion-icon 3s infinite;
        }
    }

    .close-reduce-motion {
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 40px;
        line-height: 40px;
        color: $color-4;
        text-align: center;
        border: none;
        border-left: solid 1px $color-4;
        background-color: $color-1;
        cursor: pointer;
        overflow: hidden;

        &:before {
            position: relative;
            left: -2px;
            top: 0;
            content: '\e82a';
            font-family: "paperplane-blank-theme-icons";
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            speak: never;
        }

    }
}

@keyframes reduce-motion-icon {
    0% {
        top: 40px;
        left: -40px;
        opacity: 0;
    }

    30% {
        top: 1px;
        left: -4px;
        opacity: 1;
    }

    70% {
        top: 1px;
        left: -4px;
        opacity: 1;
    }

    100% {
        top: -40px;
        left: 40px;
        opacity: 0;
    }

}