// main: ../style.scss
@import 'vars';
@import 'function-mixin'; // comportamenti predefiniti

body.customize-support {
	margin-top: rem(-32);
	padding-bottom: rem(32);
}

#wpadminbar {
	top: auto !important;
	bottom: 0;
}

#wpadminbar .quicklinks>ul>li {
	position: relative;
}

#wpadminbar .ab-top-menu>.menupop>.ab-sub-wrapper {
	bottom: rem(32);
}