// main: ../style.scss
@import 'vars';
@import 'mixin'; // comportamenti predefiniti

body.customize-support {
	margin-top: -32px;
	padding-bottom: 32px;
}

#wpadminbar {
	top: auto !important;
	bottom: 0;
}

#wpadminbar .quicklinks > ul > li {
	position: relative;
}

#wpadminbar .ab-top-menu > .menupop > .ab-sub-wrapper {
	bottom: 32px;
}