// main: ../style.scss
@import 'vars';
@import 'mixin'; // hamburger

.hambuger-element {
  width: rem(20);
  height: rem(16);
  position: relative;
  top: rem(-3);
  display: inline-block;
  z-index: 9998;
  padding: 0;
  margin: 0;
  @include define-rotate(0);
  cursor: pointer;
  border: none !important;
  //overflow: hidden;
  background-color: transparent;

  &:before {
    content: '';
    position: absolute;
    top: rem(-15);
    left: rem(-20);
    width: rem(55);
    height: rem(48);
  }

  span[class*="ham-bar-"] {
    display: block;
    position: absolute;
    height: rem(2);
    width: 100%;
    opacity: 1;
    left: 0;
    @include define-rotate(0);
    @include transition(all 0.15s ease-in-out);
    border-radius: rem(1);
    background-color: var(--color-1);
  }
}


.hambuger-element .ham-bar-1 {
  top: 0;
}

.hambuger-element .ham-bar-2,
.hambuger-element .ham-bar-3 {
  top: rem(7);
}

.hambuger-element .ham-bar-4 {
  bottom: 0;
}

.hambuger-element.open .ham-bar-1 {
  opacity: 0 !important;
}

.hambuger-element.open .ham-bar-2 {
  @include define-rotate(45);
}

.hambuger-element.open .ham-bar-3 {
  @include define-rotate(-45);
}

.hambuger-element.open .ham-bar-4 {
  opacity: 0 !important;
}