// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

.cards {
    &.flex-hold {
        margin-top: rem(2);
    }
}

.card {
    position: relative;
    border: solid rem(1) var(--color-1);
    height: 100%;
    @include transition(all 0.3s linear);

    &:has(a:focus-visible) {
        z-index: 99999 !important;
    }


    &:hover {
        box-shadow: inset 0 0 0 rem(2) var(--color-1), inset 0 0 0 rem(4) var(--color-4);

        &.no-underline {
            box-shadow: none;

            .element-hover {
                text-decoration: none;
            }
        }

        .element-hover {
            text-decoration: underline;
        }
    }

    .card-image {
        //position: relative;
        width: 100%;
    }

    .card-texts {
        //position: relative;
        width: 100%;
    }

    .cta-holder {
        //position: relative;
    }

    .card-link {
        position: absolute;
        z-index: 10;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
    }

    .preserve-text {
        position: relative;
        z-index: 11;
    }

    .elent-with-link {
        position: relative;
        z-index: 11;
    }

    a {
        &:not(.card-link) {
            position: relative;
            z-index: 11;
        }
    }
}