// main: ../style.scss
@import 'vars';
@import 'function-mixin';

// txt colors
.txt-1 {
	color: var(--color-1);
}

.txt-2 {
	color: var(--color-2);
}

.txt-3 {
	color: var(--color-3);
}

.txt-4 {
	color: var(--color-4);
}

// bg colors

.bg-1 {
	background-color: var(--color-1);
}

.bg-2 {
	background-color: var(--color-2);
}

.bg-3 {
	background-color: var(--color-3);
}

.bg-4 {
	background-color: var(--color-4);
}


a:link,
a:visited {
	color: var(--color-1);
}

a:active,
a:hover {
	color: var(--color-2);
}

.header-main-menu-desktop {

	a:link:not(.default-button),
	a:visited:not(.default-button) {
		color: var(--color-1);
	}

	a:active:not(.default-button),
	a:hover:not(.default-button) {
		color: var(--color-1);
		text-decoration: underline;
	}

	.nav-simple-button {
		color: var(--color-1);

		&:after {
			background-color: currentColor;
		}

		&:hover {
			color: var(--color-1);
			text-decoration: underline;

			&:after {
				background-color: currentColor;
			}
		}
	}

	.sub-menu {

		a:link,
		a:visited {
			color: var(--color-1);
		}

		a:active,
		a:hover {
			color: var(--color-1);
		}
	}
}





.header-main-menu-mobile {

	a:link:not(.default-button),
	a:visited:not(.default-button) {
		color: var(--color-1);
	}

	a:active:not(.default-button),
	a:hover:not(.default-button) {
		color: var(--color-1);
		text-decoration: underline;
	}

	.nav-simple-button {
		color: var(--color-1);

		&:after {
			background-color: currentColor;
		}

		&:hover {
			color: var(--color-1);
			text-decoration: underline;

			&:after {
				background-color: currentColor;
			}
		}
	}

	.sub-menu {

		a:link,
		a:visited {
			color: var(--color-1);
		}

		a:active,
		a:hover {
			color: var(--color-1);
		}
	}
}