// main: ../style.scss
@import 'vars';
@import 'mixin'; // hamburger

.colors-white-bg {
  color: $color-1;
  background-color: $color-4;

  .above-image-opacity {
    background-color: rgba(255, 255, 255, 0.35);
  }

  a:link,
  a:visited {
    color: $color-1;
  }

  a:active,
  a:hover {
    color: $color-2;
  }

  .hambuger-element {
    span {
      background-color: $color-1;
    }

    &:hover {
      span {
        background-color: $color-2;
      }
    }
  }

  .current-mega-menu {
    &:after {
      background-color: $color-1;
    }
  }

  .sub-menu {
    color: $color-3 !important;
    background-color: $color-1;

    li {
      border-bottom: $color-2 solid 1px;

      a {
        &:link,
        &:visited {
          color: $color-4;
        }

        &:hover {
          color: $color-3;
        }
      }
    }
  }

  .overlay-menu-mobile-css {
    border-top: solid 1px $color-3 !important;

    li {
      border-bottom: solid 1px $color-3 !important;
    }

    .sub-menu {
      background-color: $color-3;

      li {
        border-top: solid 1px $color-4 !important;

        a {
          &:link,
          &:visited {
            color: $color-1;
          }

          &:hover {
            color: $color-1;
          }
        }
      }
    }
  }

  .cta-navi a,
  .default-button {
    color: $color-3 !important;
    background-color: $color-1 !important;

    &:hover {
      color: $color-3 !important;
      background-color: $color-2 !important;
    }
  }

  .default-button-b {
    color: $color-1;

    &:hover {
      color: $color-2;
    }
  }

  .slick-next,
  .slick-prev {
    color: $color-1;
  }

  .slick-dots {
    li {
      button {
        background-color: $color-3;

        &:hover {
          background-color: $color-1;
        }
      }

      &.slick-active {
        button {
          background-color: $color-1;
        }
      }
    }
  }

  .slide-double,
  .slide-single {
    &:after,
    &:before {
      background-color: rgba(255, 255, 255, 0.75);
    }
  }

  .expander {
    color: $color-1;

    &:hover {
      color: $color-2;
    }
  }

  .scroll-down {
    background-color: $color-1;
    color: $color-4;

    a {
      color: $color-4;
    }
  }

  ::-webkit-input-placeholder {
    color: $color-2;
  }

  :-moz-placeholder {
    color: $color-2;
  }

  ::-moz-placeholder {
    color: $color-2;
  }

  label {
    color: $color-1;
  }

  input[type=date],
  input[type=email],
  input[type=number],
  input[type=password],
  input[type=tel],
  input[type=text],
  input[type=url],
  select,
  textarea {
    border: $color-2 solid 1px;
    color: $color-1;
    background-color: $color-4;
  }

  input[type=checkbox],
  input[type=radio] {
    &:before {
      color: $color-1;
    }
  }

  input[type=file] {
    &::-webkit-file-upload-button,
    &::file-selector-button {
      color: $color-1;
      border: 1px solid $color-1;
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='none'><g><rect height='24' width='24'/></g><g><path fill='#{$color-upload-icon-dark}' d='M18,15v3H6v-3H4v3c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2v-3H18z M7,9l1.41,1.41L11,7.83V16h2V7.83l2.59,2.58L17,9l-5-5L7,9z'/></g></svg>");
    }

    &:hover {
      &::-webkit-file-upload-button,
      &::file-selector-button {
        color: $color-4;
        border: 1px solid $color-4;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='none'><g><rect height='24' width='24'/></g><g><path fill='#{$color-upload-icon-clear}' d='M18,15v3H6v-3H4v3c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2v-3H18z M7,9l1.41,1.41L11,7.83V16h2V7.83l2.59,2.58L17,9l-5-5L7,9z'/></g></svg>");
        background-color: $color-1;
      }
    }
  }

  input[type=submit] {
    color: $color-3 !important;
    background-color: $color-1 !important;

    &:hover {
      color: $color-3 !important;
      background-color: $color-2 !important;
    }
  }

  .content-styled {
    ul {
      li {
        &:before {
          color: $color-2;
        }
      }
    }

    ol > li {
      &:before {
        color: $color-2;
      }
    }
  }

  .expanding-block {
    border-bottom: solid 1px $color-1;
  }

  ::-moz-selection {
    background: $color-1;
    color: $color-3;
  }

  ::selection {
    background: $color-1;
    color: $color-3;
  }

  ::-moz-selection {
    background: $color-1;
    color: $color-3;
  }

  ::-webkit-selection {
    background: $color-1;
    color: $color-3;
  }

  &.paperplane-modal {
    background-color: rgba(255,255,255,0.8);

    .modal-box,
    .modal-title {
      background-color: $color-4;
    }

    .modal-box {
      &:after {
        background-color: $color-4;
      }
    }

    .modal-close-button {
      .svg-button-line {
        stroke: $color-1;
      }
    }
  }
}