// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

.cta-holder {
	a {
		margin: 0 10px 0 0;
	}
}

.cta-navi a,
.default-button {
	position: relative;
	display: inline-block;
	@include define-border-radius(24px);
	text-align: center;
	text-decoration: none !important;
	border: solid 1px;
}

a.default-button:link,
a.default-button:visited,
.cta-navi a:link,
.cta-navi a:visited {
	color: $color-3;
	background-color: $color-1;
	border-color: $color-1;
}

a.default-button:active,
a.default-button:hover,
.cta-navi a:active,
.cta-navi a:hover {
	color: $color-1;
	background-color: $color-4;
	border-color: $color-1;
}

.default-button-b {
	position: relative;
	display: inline-block;
	text-decoration: none !important;

	&:after {
		position: relative;
		top: 1px;
		right: 0;
		margin: 0 0 0 10px;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		content: "➜";
		@include define-basic-transition(all, 0.15s);
	}

	&:hover {


		&:after {
			right: -10px;
		}
	}
}

a.default-button-b:link,
a.default-button-b:visited {
	color: $color-1;

}

a.default-button-b:active,
a.default-button-b:hover {
	color: $color-2;
}