// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

.default-button {
	position: relative;
	display: inline-block;
	border-radius: 24px;
	text-align: center;
	text-decoration: none !important;
	border: solid 1px;
	@include transition(all 0.3s linear);
	cursor: pointer;
	font-family: $font-main;
	font-weight: $font-weight-3;
}

.default-button,
.default-button:link,
.default-button:visited {
	color: var(--color-4);
	background-color: var(--color-1);
	border-color: var(--color-1);
}

.default-button:hover,
a.default-button:active,
a.default-button:hover {
	color: var(--color-1);
	background-color: var(--color-4);
	border-color: var(--color-1);
}

.default-button-b {
	position: relative;
	display: inline-block;
	text-decoration: none !important;
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-family: $font-main;
	font-weight: $font-weight-3;

	&:after {
		position: relative;
		top: 1px;
		right: 0;
		margin: 0 0 0 10px;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		content: "➜";
		@include transition(all 0.15s linear);
	}

	&:hover {
		&:after {
			right: -10px;
		}
	}
}

.default-button-b,
a.default-button-b:link,
a.default-button-b:visited {
	color: var(--color-1);

}

.default-button-b:hover,
a.default-button-b:active,
a.default-button-b:hover {
	color: var(--color-2);
}