// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

.default-button {
	position: relative;
	display: inline-block;
	border-radius: rem(34);
	text-align: left;
	text-decoration: none !important;
	border: solid rem(1);
	@include transition(all 0.3s linear);
	cursor: pointer;
	font-family: $font-main;
	font-weight: $font-weight-3;

	&:after {
		content: "";
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: rem(15);
		/* adatta la posizione orizzontale secondo necessità */
		display: inline-flex;
		mask-image: url(assets/images/icons/cta-arrow.svg);
		mask-repeat: no-repeat;
		mask-size: contain;
		@include transition(all 0.15s linear);
	}
}

.default-button,
.default-button:link,
.default-button:visited {
	color: var(--color-4);
	background-color: var(--color-1);
	border-color: var(--color-1);

	&:after {
		background-color: var(--color-4);
	}
}

.default-button:hover,
a.default-button:active,
a.default-button:hover {
	color: var(--color-1);
	background-color: var(--color-4);
	border-color: var(--color-1);

	&:after {
		background-color: var(--color-1);
		margin: 0 0 0 rem(20);
	}
}

.default-button-b {
	position: relative;
	display: inline-block;
	text-decoration: none !important;
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-family: $font-main;
	font-weight: $font-weight-3;

	&:after {
		position: relative;
		top: rem(1);
		right: 0;
		margin: 0 0 0 rem(10);
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		content: "➜";
		@include transition(all 0.15s linear);
	}

	&:hover {
		&:after {
			right: rem(-10);
		}
	}
}

.default-button-b,
a.default-button-b:link,
a.default-button-b:visited {
	color: var(--color-1);

}

.default-button-b:hover,
a.default-button-b:active,
a.default-button-b:hover {
	color: var(--color-2);
}