// main: ../style.scss
@import '../global/vars';
@import '../global/function-mixin';

.default-button {
	position: relative;
	display: inline-block;
	border-radius: rem(34);
	text-align: left;
	text-decoration: none;
	border: solid rem(1);
	@include transition(all 0.3s linear);
	cursor: pointer;
	font-family: $font-main;
	font-weight: $font-weight-3;
	width: auto;
	overflow: hidden;

	&:after {
		content: "";
		position: relative;
		display: inline-block;
		vertical-align: middle;
		translate: 0 rem(-1);
		mask-image: url(assets/images/icons/cta-arrow.svg);
		mask-repeat: no-repeat;
		mask-size: contain;
		@include transition(all 0.15s linear);
	}
}

.default-button,
.default-button:link,
.default-button:visited {
	color: var(--color-4);
	background-color: var(--color-1);
	border-color: var(--color-1);

	&:after {
		background-color: currentColor;
	}
}

.default-button:hover,
a.default-button:active,
a.default-button:hover {
	// definito in global/_function-mixin.scss
	@include default-button-hover-state;

}

.default-button-b {
	position: relative;
	display: inline-block;
	border-radius: rem(34);
	text-align: left;
	text-decoration: none;
	@include transition(all 0.3s linear);
	cursor: pointer;
	font-family: $font-main;
	font-weight: $font-weight-3;
	width: auto;

	&:after {
		content: "";
		position: relative;
		display: inline-block;
		vertical-align: middle;
		translate: 0 rem(-1);
		mask-image: url(assets/images/icons/cta-arrow.svg);
		mask-repeat: no-repeat;
		mask-size: contain;
		@include transition(all 0.15s linear);
	}
}

.default-button-b,
a.default-button-b:link,
a.default-button-b:visited {
	color: var(--color-1);

	&:after {
		background-color: currentColor;
	}

}

.default-button-b:hover,
a.default-button-b:active,
a.default-button-b:hover {
	// definito in global/_function-mixin.scss
	@include default-button-b-hover-state;
}

.default-button {
	&.external-domain {
		&:after {
			mask-image: url(assets/images/icons/cta-external-domain.svg);
		}
	}

	&.download {
		&:after {
			mask-image: url(assets/images/icons/cta-download.svg);
		}
	}

	&.copytext {
		&:after {
			mask-image: url(assets/images/icons/cta-copytext.svg);
		}
	}


}