// main: ../style.scss
@import 'vars';
@import 'function-mixin'; // comportamenti predefiniti

@view-transition {
	navigation: auto;
}

.clearer {
	clear: both;
}

.last-message {
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
	color: var(--color-3);
	padding: rem(20);
}

.bottom-message {
	position: fixed;
	z-index: 9999;
	bottom: 0;
	left: 0;
	display: none;
	width: 100%;
	text-align: center;
	background-color: var(--color-1);
	color: var(--color-3);
	padding: rem(20);
}

.navigation {
	display: none;
}

#infscr-loading {
	position: fixed;
	z-index: 9999;
	bottom: 0;
	left: 0;
	width: calc(100% - rem(30)) !important;
	background-color: var(--color-1);
	text-align: center;
	padding: rem(15);
	display: none;

	p {
		font-family: $font-main;
		font-size: $h6-size-desktop;
		line-height: $h6-lineheight-desktop;
		color: var(--color-4);
		text-transform: uppercase;
	}
}

.not-link {
	pointer-events: none;
}