// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';
@charset "UTF-8";

@font-face {
  font-family: "paperplane-blank-theme-icons";
  src: url("assets/fonts/paperplane-blank-theme-icons.eot");
  src: url("assets/fonts/paperplane-blank-theme-icons.eot?#iefix") format("embedded-opentype"), url("assets/fonts/paperplane-blank-theme-icons.woff") format("woff"), url("assets/fonts/paperplane-blank-theme-icons.ttf") format("truetype"), url("assets/fonts/paperplane-blank-theme-icons.svg#paperplane-blank-theme-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^="paperplane-blank-theme-icons-"]:before,
[class*=" paperplane-blank-theme-icons-"]:before {
  font-family: "paperplane-blank-theme-icons";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.paperplane-blank-theme-icons-play:before {
  content: '\e666';
}

/* '' */
.paperplane-blank-theme-icons-pause:before {
  content: '\e667';
}

/* '' */
.paperplane-blank-theme-icons-newsletter-social:before {
  content: '\e800';
}

/* '' */
.paperplane-blank-theme-icons-facebook-social:before {
  content: '\e801';
}

/* '' */
.paperplane-blank-theme-icons-facebook-messenger-social:before {
  content: '\e802';
}

/* '' */
.paperplane-blank-theme-icons-instagram-social:before {
  content: '\e803';
}

/* '' */
.paperplane-blank-theme-icons-linkedin-social:before {
  content: '\e804';
}

/* '' */
.paperplane-blank-theme-icons-telegram-social:before {
  content: '\e805';
}

/* '' */
.paperplane-blank-theme-icons-tiktok-social:before {
  content: '\e806';
}

/* '' */
.paperplane-blank-theme-icons-twitter-social:before {
  content: '\e807';
}

/* '' */
.paperplane-blank-theme-icons-vk-social:before {
  content: '\e808';
}

/* '' */
.paperplane-blank-theme-icons-whatsapp-social:before {
  content: '\e809';
}

/* '' */
.paperplane-blank-theme-icons-spotify-social:before {
  content: '\e80b';
}

/* '' */
.paperplane-blank-theme-icons-youtube-social:before {
  content: '\e80c';
}

/* '' */
.paperplane-blank-theme-icons-reduce-motion:before {
  content: '\e827';
}

/* '' */
.paperplane-blank-theme-icons-form-error:before {
  content: '\e828';
}

/* '' */
.paperplane-blank-theme-icons-form-ok:before {
  content: '\e829';
}

/* '' */
.paperplane-blank-theme-icons-yelp-social:before {
  content: '\f1e9';
}

/* '' */
.paperplane-blank-theme-icons-tripadvisor-social:before {
  content: '\f262';
}

/* '' */

.paperplane-blank-theme-icons-icon-close:before {
  content: '\e82a';
}

/* '' */