// main: ../style.scss
@import 'vars';
@import 'mixin';

// forms
// tutti gli stili di base dei form sono definiti qui
// i colori (bordi ecc.) sono definiti nei parziali /global/colors-black-bg e /global/colors-white-bg
// tipografia e margini sono definiti nei parziali desktop e mobile

::-webkit-input-placeholder {
	color: var(--color-2);
}

:-moz-placeholder {
	color: var(--color-2);
}

::-moz-placeholder {
	color: var(--color-2);
}

input[type=date],
input[type=email],
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
input[type=url],
select,
textarea {
	border: var(--color-2) solid rem(1);
	color: var(--color-1);
	background-color: var(--color-4);
	font-family: $font-main;
}

input[type=date],
input[type=email],
input[type=number],
input[type=password],
input[type=range],
input[type=tel],
input[type=text],
input[type=url],
textarea {
	font-weight: $font-weight-1;
	position: relative;
	width: calc(100% - rem(2));
	padding: rem(10);
	background-color: transparent;
}

input[type=checkbox],
input[type=radio] {

	&:before {
		color: var(--color-1);
	}

	&:focus-visible {
		&:before {
			color: var(--color-4);
		}
	}
}

input[type=checkbox],
input[type=radio] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;

	&:before {
		font-family: 'Material Icons';
		font-weight: normal;
		font-style: normal;
		display: inline-block;
		line-height: 1;
		text-transform: none;
		letter-spacing: normal;
		word-wrap: normal;
		white-space: nowrap;
		direction: ltr;
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		-moz-osx-font-smoothing: grayscale;
		font-feature-settings: 'liga';
	}
}

input[type=radio] {
	&:before {
		content: "\e836";
	}

	&:checked {
		&:before {
			content: "\e837";
		}
	}
}

input[type=checkbox] {
	&:before {
		content: "\e835";
	}

	&:checked {
		&:before {
			content: "\e834";
		}
	}
}

input[type=file] {
	position: relative;
	text-align: left;
	display: block;
	margin-top: rem(10);
	font-family: $font-main;
	font-weight: $font-weight-1;
	background-color: var(--color-4);

	&::-webkit-file-upload-button,
	&::file-selector-button {
		font-family: $font-main;
		font-weight: $font-weight-1;
		padding: rem(8) 0 rem(8) rem(20);
		margin-right: rem(10);
		color: var(--color-4);
		transition: 0.3s;
		cursor: pointer;
		border: none;
		width: rem(25);

		-webkit-mask-image: url(assets/images/icons/file-upload.svg);
		mask-image: url(assets/images/icons/file-upload.svg);
		-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
		mask-size: rem(25) rem(25);
		mask-position: 0 50%;
		background-color: var(--color-1);
	}
}




select {
	appearance: none;
	position: relative;
	width: 100%;
	padding: rem(10) rem(30) rem(10) rem(10);
	background-image: url("assets/images/icons/html-select-icon.svg");
	background-position: calc(100% - rem(10)) 50%;
	background-repeat: no-repeat;
	background-size: rem(12) auto;
	cursor: pointer;
}

textarea {
	width: 100%;
	height: rem(100);
	margin: rem(10) 0 0;
	padding: rem(10);
	resize: none;
}

input[type=submit] {
	position: relative;
	display: inline-block;
	padding: rem(14) rem(22);
	border-radius: rem(24);
	text-align: center;
	text-decoration: none !important;
	min-width: rem(100);
	max-width: rem(250);
	margin: rem(20) 0 0;
	border: none;
	cursor: pointer;
	@include transition(all 0.3s linear);
	white-space: normal;
	text-transform: uppercase;
	-webkit-appearance: none;
	color: var(--color-3);
	background-color: var(--color-1);

	&:hover {
		color: var(--color-3);
		background-color: var(--color-2);
	}

	&[aria-disabled="true"] {
		opacity: 0.7;
		cursor: not-allowed;
	}
}

input[type=submit]:disabled {
	opacity: 0.7;
}

input[type=date]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=range]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=url]:focus,
select:focus,
textarea:focus {
	box-shadow: 0 0 0 rem(3) var(--color-1) !important;
	@include transition(all 0.3s linear);
}

label,
.as-label {
	font-family: $font-main;
	color: var(--color-1);
}

.form-hold {
	position: relative;
	display: block;
	width: 100%;

	label,
	p {
		position: relative;
		display: block;
		width: 100%;
		margin-left: 0;
	}

	.wpcf7-form-control-wrap {
		.wpcf7-list-item {
			margin: 0 !important;
		}

		&.form-checkbox,
		&.form-radio {
			display: block;
			padding: 0 !important;
			margin-bottom: rem(10) !important;

			.wpcf7-list-item {
				margin: 0 rem(10) rem(10) 0 !important;

				&:last-child {
					margin: 0 0 rem(10) 0 !important;
				}
			}
		}
	}
}

.wpcf7-form {

	.wpcf7-not-valid-tip,
	&.invalid .wpcf7-response-output,
	&.sent .wpcf7-response-output {
		&:before {
			position: relative;
			top: rem(2);
			display: inline-block;
			margin: 0 rem(5) 0 0;
			color: var(--color-form-error) !important;
			content: '\e000';
			font-family: 'Material Icons';
			font-weight: normal;
			font-style: normal;
			display: inline-block;
			line-height: 1;
			text-transform: none;
			letter-spacing: normal;
			word-wrap: normal;
			white-space: nowrap;
			direction: ltr;
			-webkit-font-smoothing: antialiased;
			text-rendering: optimizeLegibility;
			-moz-osx-font-smoothing: grayscale;
			font-feature-settings: 'liga';
			font-style: normal;
			font-weight: normal;
			font-size: rem(20);
		}
	}

	.wpcf7-not-valid-tip {
		position: relative;
		border: none !important;
		z-index: 10;
		width: 100% !important;
		top: rem(-32) !important;
		padding: rem(10) !important;
		margin: 0 0 0 0 !important;
		color: var(--color-form-error) !important;
		background-color: var(--color-form-error-b) !important;
		font-weight: $font-weight-2 !important;
		font-family: $font-main;

		&:before {
			color: var(--color-form-error) !important;
			content: '\e000';
		}
	}

	.wpcf7-response-output {
		position: relative;
		z-index: 10;
		width: 100% !important;
		padding: rem(16) !important;
		margin: 0 0 rem(10) 0 !important;
		font-size: rem($cta1-size-desktop) !important;
		font-family: $font-main;
	}

	&.invalid {
		.wpcf7-response-output {
			color: var(--color-form-error) !important;
			background-color: var(--color-form-error-b) !important;
			border: none !important;
			font-weight: $font-weight-2 !important;

			&:before {
				color: var(--color-form-error) !important;
				content: '\e000';
			}
		}
	}

	&.sent {
		.wpcf7-response-output {
			color: var(--color-form-ok) !important;
			background-color: var(--color-form-ok-b) !important;
			border: none !important;
			font-weight: $font-weight-2 !important;

			&:before {
				color: var(--color-form-ok) !important;
				content: '\e5ca';
			}

		}
	}
}

.form-block {
	display: block;

	.wpcf7-not-valid-tip {

		top: 0 !important;
		margin-bottom: rem(32) !important;
	}
}


.phone-wrapper {
	position: relative;
	display: block;
	width: 100%;

	.phone-prefix-populate {
		position: absolute;
		z-index: 2;
		top: 0;
		margin: 0;
		width: rem(95);
		opacity: 0;
		@include transition(opacity 0.3s linear);

		&.visible {
			opacity: 1;
		}
	}

	.phone-number-style {
		z-index: 1;
		width: calc(100% - rem(94));
		margin-left: rem(94);
	}

	.just-hidden {
		opacity: 0;
	}
}