// main: ../style.scss
@import 'vars';
@import 'mixin';

// forms
// tutti gli stili di base dei form sono definiti qui
// i colori (bordi ecc.) sono definiti nei parziali /global/colors-black-bg e /global/colors-white-bg
// tipografia e margini sono definiti nei parziali desktop e mobile

::-webkit-input-placeholder {
	color: var(--color-2);
}

:-moz-placeholder {
	color: var(--color-2);
}

::-moz-placeholder {
	color: var(--color-2);
}

input[type=date],
input[type=email],
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
input[type=url],
select,
textarea {
	border: var(--color-2) solid 1px;
	color: var(--color-1);
	background-color: var(--color-4);
	font-family: $font-main;
}

input[type=date],
input[type=email],
input[type=number],
input[type=password],
input[type=range],
input[type=tel],
input[type=text],
input[type=url],
textarea {
	font-weight: $font-weight-1;
	position: relative;
	width: calc(100% - 2px);
	margin: 10px 0 0;
	padding: 10px;
	background-color: transparent;
}

input[type=checkbox],
input[type=radio] {
	&:before {
		color: var(--color-1);
	}

	&:focus-visible {
		&:before {
			color: var(--color-4);
		}
	}
}

input[type=checkbox],
input[type=radio] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	&:before {
		font-family: 'Material Icons';
		font-weight: normal;
		font-style: normal;
		display: inline-block;
		line-height: 1;
		text-transform: none;
		letter-spacing: normal;
		word-wrap: normal;
		white-space: nowrap;
		direction: ltr;
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		-moz-osx-font-smoothing: grayscale;
		font-feature-settings: 'liga';
	}
}

input[type=radio] {
	&:before {
		content: "\e836";
	}

	&:checked {
		&:before {
			content: "\e837";
		}
	}
}

input[type=checkbox] {
	&:before {
		content: "\e835";
	}

	&:checked {
		&:before {
			content: "\e834";
		}
	}
}

input[type=file] {
	position: relative;
	text-align: left;
	display: block;
	margin-top: 10px;
	font-family: $font-main;
	font-weight: $font-weight-1;
	background-color: var(--color-4);

	&::-webkit-file-upload-button,
	&::file-selector-button {
		font-family: $font-main;
		font-weight: $font-weight-1;
		padding: 8px 0 8px 20px;
		margin-right: 10px;
		color: var(--color-4);
		transition: 0.3s;
		cursor: pointer;
		border: none;
		width: 25px;
		//background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='none'><g><rect height='24' width='24'/></g><g><path fill='#{$color-upload-icon-clear}' d='M18,15v3H6v-3H4v3c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2v-3H18z M7,9l1.41,1.41L11,7.83V16h2V7.83l2.59,2.58L17,9l-5-5L7,9z'/></g></svg>");
		//background-position: 8px 50%;
		//background-repeat: no-repeat;
		//background-size: 25px 25px;

		-webkit-mask-image: url(assets/images/icons/file-upload.svg);
		mask-image: url(assets/images/icons/file-upload.svg);
		-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
		mask-size: 25px 25px;
		mask-position: 0 50%;
		background-color: var(--color-1);
	}
}




select {
	appearance: none;
	position: relative;
	width: calc(100% - 2px);
	margin: 10px 0 0;
	padding: 10px 30px 10px 10px;
	background-image: url("assets/images/icons/html-select-icon.svg");
	background-position: calc(100% - 10px) 50%;
	background-repeat: no-repeat;
	background-size: 12px auto;
}

textarea {
	width: calc(100% - 2px);
	height: 100px;
	margin: 10px 0 0;
	padding: 10px;
	resize: none;
}

input[type=submit] {
	position: relative;
	display: inline-block;
	padding: 14px 22px;
	border-radius: 24px;
	text-align: center;
	text-decoration: none !important;
	min-width: 100px;
	max-width: 250px;
	margin: 20px 0 0;
	border: none;
	cursor: pointer;
	@include transition(all 0.3s linear);
	white-space: normal;
	text-transform: uppercase;
	-webkit-appearance: none;
	color: var(--color-3);
	background-color: var(--color-1);

	&:hover {
		color: var(--color-3);
		background-color: var(--color-2);
	}

	&[aria-disabled="true"] {
		opacity: 0.7;
		cursor: not-allowed;
	}
}

input[type=submit]:disabled {
	opacity: 0.7;
}

input[type=date]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=range]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=url]:focus,
select:focus,
textarea:focus {
	box-shadow: 0 0 0 3px var(--color-1) !important;
	@include transition(all 0.3s linear);
}

label,
.as-label {
	font-family: $font-main;
	color: var(--color-1);
}

.form-hold {
	position: relative;
	display: block;
	width: 100%;

	label,
	p {
		position: relative;
		display: block;
		width: 100%;
		margin-left: 0;
	}

	.wpcf7-form-control-wrap {
		.wpcf7-list-item {
			margin: 0 !important;
		}

		&.form-checkbox,
		&.form-radio {
			display: block;
			padding: 0 !important;
			margin-bottom: 10px !important;

			.wpcf7-list-item {
				margin: 0 10px 10px 0 !important;

				&:last-child {
					margin: 0 0 10px 0 !important;
				}
			}
		}
	}
}

.wpcf7-form {

	.wpcf7-not-valid-tip,
	&.invalid .wpcf7-response-output,
	&.sent .wpcf7-response-output {
		&:before {
			position: relative;
			top: 2px;
			display: inline-block;
			margin: 0 5px 0 0;
			color: $color-form-error !important;
			content: '\e000';
			font-family: 'Material Icons';
			font-weight: normal;
			font-style: normal;
			display: inline-block;
			line-height: 1;
			text-transform: none;
			letter-spacing: normal;
			word-wrap: normal;
			white-space: nowrap;
			direction: ltr;
			-webkit-font-smoothing: antialiased;
			text-rendering: optimizeLegibility;
			-moz-osx-font-smoothing: grayscale;
			font-feature-settings: 'liga';
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
		}
	}

	.wpcf7-not-valid-tip {
		position: relative;
		border: solid 1px $color-form-error !important;
		z-index: 10;
		width: 100% !important;
		top: -16px !important;
		padding: 5px !important;
		margin: 10px 0 10px 0 !important;
		color: $color-form-error !important;
		background-color: $color-form-error-b !important;
		font-size: $h6-size-desktop !important;
		line-height: $h6-size-desktop !important;
		font-weight: $font-weight-1 !important;
		font-family: $font-main;

		&:before {
			color: $color-form-error !important;
			content: '\e000';
		}
	}

	.wpcf7-response-output {
		position: relative;
		z-index: 10;
		width: 100% !important;
		padding: 10px !important;
		margin: 0 0 10px 0 !important;
		text-transform: uppercase;
		font-size: $cta1-size-desktop !important;
		line-height: $cta1-size-desktop !important;
		font-weight: $font-weight-2 !important;
		font-family: $font-main;
	}

	&.invalid {
		.wpcf7-response-output {
			color: $color-form-error !important;
			background-color: $color-form-error-b !important;
			border: none;
			border-left: solid 6px $color-form-error !important;
			font-size: $cta1-size-desktop !important;
			line-height: $cta1-size-desktop !important;
			font-weight: $font-weight-3 !important;

			&:before {
				color: $color-form-error !important;
				content: '\e000';
			}
		}
	}

	&.sent {
		.wpcf7-response-output {
			color: $color-form-ok !important;
			background-color: $color-form-ok-b !important;
			border: none;
			border-left: solid 6px $color-form-ok !important;
			font-size: $cta1-size-desktop !important;
			line-height: $cta1-size-desktop !important;
			font-weight: $font-weight-3 !important;

			&:before {
				color: $color-form-ok !important;
				content: '\e5ca';
			}

		}
	}
}

.form-block {
	display: block;
}