@import 'vars';
$debug-comments: true; // Cambia in false per la versione minificata

@function rem($pixels) {
	@if type-of($pixels)=='number' {
		$original: $pixels;

		@if unit($pixels) !='' {
			$pixels: math.div($pixels, 1px);
		}

		$result: math.div($pixels, 16) * 1rem;

		@if $debug-comments {
			$comment: if(unit($original)=='', "#{$original}px", "#{$original}");
			@return unquote("#{$result} /* #{$comment} */");
		}

		@return $result;
	}

	@else {
		@error "Il valore passato a rem() deve essere un numero, ricevuto #{type-of($pixels)}";
	}
}

@mixin flex-wrap {
	display: -webkit-flex !important;
	display: flex !important;
	-webkit-flex-wrap: wrap !important;
	flex-wrap: wrap !important;
}

@mixin define-flex-per-row($row_items) {
	-webkit-flex: 0 0 $row_items;
	flex: 0 0 $row_items;
}

@mixin flex-verticalize {
	-webkit-align-items: center;
	align-items: center;
}

@mixin flex-end {
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}


// Usage:   @include transition(width, height 0.3s ease-in-out);
// Output:  -webkit-transition(width 0.2s, height 0.3s ease-in-out);
//          transition(width 0.2s, height 0.3s ease-in-out);
//
// Pass in any number of transitions
@mixin transition($transitions...) {
	$unfoldedTransitions: (
	);

@each $transition in $transitions {
	$unfoldedTransitions: append($unfoldedTransitions, unfoldTransition($transition), comma);
}

-webkit-transition: $unfoldedTransitions;
transition: $unfoldedTransitions;
}

@function unfoldTransition ($transition) {
	// Default values
	$property: all;
	$duration: .2s;
	$easing: null; // Browser default is ease, which is what we want
	$delay: null; // Browser default is 0, which is what we want
	$defaultProperties: (
		$property,
		$duration,
		$easing,
		$delay
	);

// Grab transition properties if they exist
$unfoldedTransition: (
);

@for $i from 1 through length($defaultProperties) {
	$p: null;

	@if $i <=length($transition) {
		$p: nth($transition, $i)
	}

	@else {
		$p: nth($defaultProperties, $i)
	}

	$unfoldedTransition: append($unfoldedTransition, $p);
}

@return $unfoldedTransition;
}

@mixin default-button-hover-state {
	color: var(--color-1);
	background-color: var(--color-4);
	border-color: var(--color-1);

	&:after {
		background-color: currentColor;
		translate: rem(5) rem(-1);
	}
}

@mixin default-button-b-hover-state {
	color: var(--color-2);

	&:after {
		background-color: currentColor;
		translate: rem(5) rem(-1);
	}
}