// main: ../style.scss
@import 'vars';
@import 'function-mixin'; // wrappers and more

.flex-hold {
  position: relative;
  width: 100%;
  @include flex-wrap;

  .flex-hold-child-full {
    width: 100%;
  }
}

.flex-hold-child,
.flex-hold-child-image,
.flex-hold-child-texts,
.left-fix,
.module-stripe-image,
.module-stripe-text,
.page-opening-image,
.page-opening-text,
.right-fix {
  position: relative;
  -webkit-box-flex: 1;
}