// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

// header

.nav-simple-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: left;
}

#header {
  //position: fixed;
  position: sticky;
  z-index: 9998;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  @include transition(opacity 0.3s linear, visibility 0.3s linear, background-color 0.3s linear);

  &.fixed {
    //position: fixed;
  }

  &.backgrounded {
    background-color: var(--color-4);
  }

  &.hidden {
    &:has(a:focus-visible) {
      transform: translateY(0);
      pointer-events: all;
      opacity: 1;
    }
  }
}

#header-structure {
  position: relative;
  @include flex-wrap;
  @include flex-verticalize;

  .logo {
    position: relative;
    -webkit-box-flex: 1;

    a {
      // se il logo non è monocromatico usare background-image
      // altrimenti usare mask-image
      // e commentare di conseguenza le definizioni
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      mask-image: url(assets/images/site-logo-header.svg);
      mask-repeat: no-repeat;
      mask-size: contain;
      //background-image: url(assets/images/site-logo-header.svg);
      //background-repeat: no-repeat;
      //background-size: contain;
      background-color: var(--color-1);
    }
  }

  .menu {
    -webkit-box-flex: 1;

    a:link:nopt(.default-button),
    a:visited:nopt(.default-button) {
      color: var(--color-1);
    }

    a:active:nopt(.default-button),
    a:hover:nopt(.default-button) {
      color: var(--color-1);
    }

    .simple-link {
      text-transform: uppercase !important;
    }

    .nav-simple-button {
      text-transform: uppercase !important;
      color: var(--color-1);

      &:after {
        background-color: var(--color-1);
      }

      &:hover {
        color: var(--color-1);

        &:after {
          background-color: var(--color-1);
        }
      }
    }
  }

  .side-head {
    -webkit-box-flex: 1;
  }
}

#head-overlay {
  position: absolute;
  //z-index: 9997;
  left: 0;
  display: block;
  width: 100%;
  opacity: 1;
  pointer-events: all;
  visibility: visible;
  @include transition(opacity 0.3s linear, visibility 0.3s linear);
  background-color: var(--color-4);
  will-change: opacity;
  content-visibility: auto;

  .nav-simple-button {
    color: var(--color-1);

    &:hover {
      color: var(--color-2);
    }
  }

  &.hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.hide-y-overflow {
  overflow-y: hidden;
}

.scroll-opportunity {
  position: relative;
  display: block;
  overflow-y: auto;


  .wrapper {
    overflow: hidden;
    scrollbar-gutter: stable;
  }
}

// footer

#footer {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  content-visibility: auto;

  .footer-logo {
    position: relative;

    a {
      // se il logo non è monocromatico usare background-image
      // altrimenti usare mask-image
      // e commentare di conseguenza le definizioni
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      mask-image: url(assets/images/site-logo-header.svg);
      mask-repeat: no-repeat;
      mask-size: contain;
      //background-image: url(assets/images/site-logo-header.svg);
      //background-repeat: no-repeat;
      //background-size: contain;
      background-color: var(--color-1);
    }
  }
}

body {
  .loader {
    position: absolute;
    z-index: 99999;
    top: 0;
    width: 100vw;
    height: 3px;
    background-color: var(--color-1);
    pointer-events: none;
    display: none;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;

    .bar {
      position: absolute;
      top: 0;
      height: 3px;
      background-color: var(--color-3);
      animation-name: load-animation;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-direction: alternate;
    }
  }

  &.pwa-navigation {
    .loader {
      display: block;
      visibility: visible;
      opacity: 1;
    }
  }
}

@keyframes load-animation {
  0% {
    width: 0;
    left: 0;
  }

  40% {
    width: 100vw;
    right: 0;
  }

  60% {
    width: 100vw;
    right: 0;
  }

  100% {
    width: 0;
    right: 0;
  }
}