// main: ../style.scss
@import '../global/vars';
@import '../global/function-mixin';

// header

#header {
  position: sticky;
  z-index: 9998;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  @include transition(opacity 0.3s linear, visibility 0.3s linear, background-color 0.3s linear);
  background-color: var(--color-4);

  &.fixed {
    //position: fixed;
  }

  &.backgrounded {}

  &.hidden {
    &:has(a:focus-visible) {
      transform: translateY(0);
      pointer-events: all;
      opacity: 1;
    }
  }
}

#header-structure {
  position: relative;
  @include flex-wrap;
  @include flex-verticalize;

  .logo {
    position: relative;

    a {
      // se il logo non è monocromatico usare background-image
      // altrimenti usare mask-image
      // e commentare di conseguenza le definizioni
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      mask-image: url(assets/images/site-logo-header.svg);
      mask-repeat: no-repeat;
      mask-size: contain;
      //background-image: url(assets/images/site-logo-header.svg);
      //background-repeat: no-repeat;
      //background-size: contain;
      background-color: var(--color-1);
    }
  }

  .header-main-menu-desktop {}

  .side-head {}
}

#head-overlay {
  //position: absolute;
  //left: 0;
  display: block;
  width: 100%;
  opacity: 1;
  pointer-events: all;
  visibility: visible;
  @include transition(opacity 0.3s linear, visibility 0.3s linear);
  background-color: var(--color-4);
  will-change: opacity;
  content-visibility: auto;

  &.hidden {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.hide-y-overflow {
  overflow-y: hidden;
}

.scroll-opportunity {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}

// footer

#footer {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  content-visibility: auto;

  .footer-logo {
    position: relative;

    a {
      // se il logo non è monocromatico usare background-image
      // altrimenti usare mask-image
      // e commentare di conseguenza le definizioni
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      mask-image: url(assets/images/site-logo-header.svg);
      mask-repeat: no-repeat;
      mask-size: contain;
      //background-image: url(assets/images/site-logo-header.svg);
      //background-repeat: no-repeat;
      //background-size: contain;
      background-color: var(--color-1);
    }
  }
}

body {
  .loader {
    position: absolute;
    z-index: 99999;
    top: 0;
    width: 100vw;
    height: rem(3);
    background-color: var(--color-1);
    pointer-events: none;
    display: none;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;

    .bar {
      position: absolute;
      top: 0;
      height: rem(3);
      background-color: var(--color-3);
      animation-name: load-animation;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-direction: alternate;
    }
  }

  &.pwa-navigation {
    .loader {
      display: block;
      visibility: visible;
      opacity: 1;
    }
  }
}

@keyframes load-animation {
  0% {
    width: 0;
    left: 0;
  }

  40% {
    width: 100vw;
    right: 0;
  }

  60% {
    width: 100vw;
    right: 0;
  }

  100% {
    width: 0;
    right: 0;
  }
}



#pre-header {
  position: relative;
  width: 100%;
  background-color: var(--color-4);

  .close-header-notice {
    position: absolute;
    right: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    background-color: var(--color-4);

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      mask-image: url(assets/images/icons/close.svg);
      mask-repeat: no-repeat;
      mask-size: contain;
      mask-position: 50% 50%;
      background-color: currentColor;
    }
  }

  .avviso-container {
    position: relative;
    visibility: hidden;
    opacity: 0;
    @include transition(opacity 0.3s linear, visibility 0.3s linear);

    &.visible {
      opacity: 1;
      visibility: visible;
    }

    .avviso-link {
      font-weight: $font-weight-3;
    }
  }

  .avviso-scroll {
    overflow: hidden;
    position: relative;
    padding-right: rem(50); // Spazio per bottone close

    .avviso-content {
      display: inline-block;
      white-space: nowrap;
      animation: scroll-horizontal linear infinite;
      padding-left: 100%;
      // durata gestita da JS in base a lunghezza testo
    }

    // Pausa animazione al hover
    &:hover .avviso-content {
      animation-play-state: paused;
    }
  }
}

@keyframes scroll-horizontal {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}