// main: ../style.scss
@import 'vars';
@import 'mixin';

.no-the-100 {
	position: relative;
	width: 100% !important;

	img {
		position: relative;
		//object-fit: auto;
		width: 100%;
		height: auto;
	}
}

.image-rounder {
	position: relative;
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
}

.above-image-opacity {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.35);
}

.wp-caption.aligncenter,
.wp-caption.alignnone {
	position: relative;
	width: 100% !important;
	display: block;
}

.wp-caption.alignleft,
.wp-caption.alignright {
	position: relative;
}

.wp-caption.aligncenter,
.wp-caption.alignleft,
.wp-caption.alignnone,
.wp-caption.alignright {
	img {
		width: 100% !important;
		height: auto !important;
		padding: 0;
		margin: 0;
	}
}

.wp-caption-text,
.wp-caption.aligncenter .wp-caption-text,
.wp-caption.alignleft .wp-caption-text,
.wp-caption.alignnone .wp-caption-text,
.wp-caption.alignright .wp-caption-text {}

// responsive iframes / videos

.video-frame {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;

	.video-cover {
		position: absolute;
		z-index: 2;
		display: block;
		width: 100%;
		height: 100%;
		background-color: $color-1;

		&:before {
			position: absolute;
			width: 70px;
			height: 70px;
			z-index: 2;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			content: '';
			background-color: $color-4;
			-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
			mask-size: contain;
			mask-position: center;
			-webkit-mask-image: url(assets/images/icons/play.svg);
			mask-image: url(assets/images/icons/play.svg);
		}

		img {
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: 50% 50%;
		}
	}
}

.video-frame embed,
.video-frame iframe,
.video-frame object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $color-1;
}

.video-frame video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $color-1;
}

.video-stop {
	position: absolute;
	z-index: 2;
	bottom: 10px;
	right: 10px;
	width: 35px;
	height: 35px;
	border: none;
	background-color: $color-4;
	border-radius: 50%;
	cursor: pointer;
	opacity: 0.8;

	&:before {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 50%;
		height: 50%;
		content: "";
		-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
		mask-size: contain;
		mask-position: center;
		background-color: $color-1;
	}

	&.pause {
		&:before {
			-webkit-mask-image: url(assets/images/icons/pause.svg);
			mask-image: url(assets/images/icons/pause.svg);
		}
	}

	&.play {
		&:before {
			-webkit-mask-image: url(assets/images/icons/play.svg);
			mask-image: url(assets/images/icons/play.svg);
		}
	}
}