// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

.modules-handler {
  position: relative;
  content-visibility: auto;
}

.expandable-content {
  display: none;

  &.active {}
}