// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

.modules-handler {
  position: relative;
  content-visibility: auto;
}

.expandable-content {
  position: relative;
  interpolate-size: allow-keywords;
  @include transition(height 0.3s linear);
  overflow: hidden;
  height: 0;

  &.visible {
    height: auto;
  }
}