// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

.paperplane-modal {
  position: fixed;
  z-index: 99999;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  opacity: 1;
  pointer-events: all;
  visibility: visible;
  @include transition(visibility 0.2s linear, opacity 0.2s linear);
  background-color: var(--above-image-opacity);
  content-visibility: auto;

  &.hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .modal-box {
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-4);

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: calc(100% - 15px);
      height: 30px;
      background-color: var(--color-4);
    }

    .modal-title {
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% - 56px);
      background-color: var(--color-4);

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .modal-close-button {
      cursor: pointer;
      @include transition(opacity 0.3s linear);

      &:hover {
        color: var(--color-2);
      }

      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        content: "";
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        mask-size: contain;
        mask-position: center;
        -webkit-mask-image: url(assets/images/icons/close.svg);
        mask-image: url(assets/images/icons/close.svg);
        background-color: var(--color-1);
      }
    }

    .insider {
      position: relative;
      overflow-y: auto;
      width: 100%;
    }
  }

  .modal-close-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}