// main: ../style.scss
@import 'vars';
@import 'function-mixin'; // wrappers and more

.paperplane-slider {
    &>.slide:not(:first-child) {
        display: none;
    }
}

.slick-next,
.slick-prev {
    position: absolute;
    z-index: 9999;
    border: none;
    background-color: transparent;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        mask-image: url(assets/images/icons/slider-button.svg);
        mask-repeat: no-repeat;
        mask-size: contain;
        mask-position: 50% 50%;
        background-color: var(--color-1);
    }

    &:hover {
        &:after {
            background-color: var(--color-2);
        }
    }
}

.slick-prev {
    &:after {
        transform: rotate(180deg);
    }
}