// main: ../style.scss
@import 'vars';
@import 'function-mixin';


#footer p,
.as-h1,

figcaption,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-main;
}

summary,
p,
.as-p {
  font-family: $font-sub;
}

.as-p,
#footer p,
.mega-menu-page-list,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul {
  font-weight: $font-weight-1;
}

.as-h1 {
  font-weight: $font-weight-3;
}


.aligncenter {
  text-align: center;
}

.alignright {
  text-align: right;
}

.alignleft {
  text-align: left;
}

.allupper {
  text-transform: uppercase;
}

.header-main-menu-desktop,
.header-main-menu-desktop a {
  font-family: $font-main;
  font-weight: $font-weight-3;

  .sub-menu a {
    font-weight: $font-weight-1;
  }
}

.last-child-no-margin {

  h1:last-child,
  h2:last-child,
  h3:last-child,
  h4:last-child,
  h5:last-child,
  h6:last-child,
  ol:last-child,
  p:last-child,
  ul:last-child {
    margin-bottom: 0 !important;
  }
}

.content-styled {

  a:link,
  a:visited {
    text-decoration: underline;
  }

  a:active,
  a:hover {
    text-decoration-thickness: rem(2);
  }

  strong {
    font-weight: $font-weight-3;
  }

  ol,
  ul {
    font-family: $font-sub;
  }

  ul {

    list-style: none;
    padding: 0;

    li {
      position: relative;

      &:before {
        position: absolute;
        left: 0;
        border-radius: 50%;
        content: "";
        background-color: currentColor;
      }
    }
  }

  ol {
    list-style-type: none;
    list-style-type: decimal;
    padding: 0;
    counter-reset: li-counter;
  }

  ol>li {
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0 0 0 rem(20);
    display: table-row;

    &:before {
      position: relative;
      display: table-cell;
      top: 0;
      left: 0;
      font-weight: $font-weight-3;
      text-align: right;
      content: counter(li-counter)". ";
      counter-increment: li-counter;
      padding: 0 rem(15) 0 0;
      color: var(--color-2);
    }

    &:after {
      content: "";
      display: block;
    }
  }
}

.blurred-counter {
  @include transition(all 0.3s linear);
}