// main: ../style.scss
// break points
$break-desktop: 1024px;
$break-tablet-end: 1023px;
$break-mobile-start: 1px;
// fonts vars
$font-main: 'Montserrat', sans-serif;
$font-sub: "Atkinson Hyperlegible", sans-serif;
$font-weight-1: 400; //regular
$font-weight-2: 500; //medium
$font-weight-3: 700; //bold
$font-weight-4: 900; //black
// wrapper
$wrapper-max-width-desktop: 1680;
$wrapper-padded-desktop: 3.5vw;
$wrapper-padded-smartphone: 5vw;
// modules vertical paddings
$module-vertical-padding-desktop: 64;
$module-vertical-padding-big-desktop: 100;
$module-vertical-padding-smartphone: 48;
$module-vertical-padding-big-smartphone: 64;
// columns space
$column-space-side-desktop: 1.75vw;
$column-space-bottom-desktop: calc(#{$column-space-side-desktop} * 2);
$column-space-side-smartphone: 2.5vw;
$column-space-bottom-smartphone: calc(#{$column-space-side-smartphone} * 4);


//fonts desktop
$h1-size-desktop: 68;
$h1-lineheight-desktop: 76;
$h1-marginbottom-desktop: 33;
$h2-size-desktop: 54;
$h2-lineheight-desktop: 60;
$h2-marginbottom-desktop: 33;
$h3-size-desktop: 34;
$h3-lineheight-desktop: 42;
$h3-marginbottom-desktop: 22;
$h4-size-desktop: 26;
$h4-lineheight-desktop: 34;
$h4-marginbottom-desktop: 34;
$h5-size-desktop: 18;
$h5-lineheight-desktop: 24;
$h5-marginbottom-desktop: 12;
$h6-size-desktop: 16;
$h6-lineheight-desktop: 20;
$h6-marginbottom-desktop: 10;
$paragraph-size-desktop: 20;
$paragraph-lineheight-desktop: 30;
$paragraph-marginbottom-desktop: 30;
$paragraph-smaller-size-desktop: 17;
$paragraph-smaller-lineheight-desktop: 24;
$paragraph-smaller-marginbottom-desktop: 24;
$cta1-size-desktop: 15;
$cta1-lineheight-desktop: 21;
$cta1-marginbottom-desktop: 0;
$nav-size-desktop: 16;
$nav-lineheight-desktop: 20;
//fonts smartphone
$h1-size-smartphone: 44;
$h1-lineheight-smartphone: 46;
$h1-marginbottom-smartphone: 16;
$h2-size-smartphone: 37;
$h2-lineheight-smartphone: 42;
$h2-marginbottom-smartphone: 28;
$h3-size-smartphone: 27;
$h3-lineheight-smartphone: 33;
$h3-marginbottom-smartphone: 16;
$h4-size-smartphone: 20;
$h4-lineheight-smartphone: 24;
$h4-marginbottom-smartphone: 16;
$h5-size-smartphone: 16;
$h5-lineheight-smartphone: 21;
$h5-marginbottom-smartphone: 16;
$h6-size-smartphone: 16;
$h6-lineheight-smartphone: 20;
$h6-marginbottom-smartphone: 16;
$paragraph-size-smartphone: 18;
$paragraph-lineheight-smartphone: 26;
$paragraph-marginbottom-smartphone: 16;
$cta1-size-smartphone: 15;
$cta1-lineheight-smartphone: 21;
$cta1-marginbottom-smartphone: 0;
$nav-size-smartphone: 20;
$nav-lineheight-smartphone: 20;