// main: ../style.scss
// break points
$break-desktop: 1024px;
$break-tablet-end: 1023px;
$break-mobile-start: 1px;
// fonts vars
$font-main: 'Montserrat', sans-serif;
$font-sub: "Atkinson Hyperlegible", sans-serif;
$font-weight-1: 400; //regular
$font-weight-2: 500; //medium
$font-weight-3: 700; //bold
$font-weight-4: 900; //black
// header
$header-desktop-height: 75px;
$header-smartphone-height: 64px;
// wrapper
$wrapper-max-width-desktop: 1680px;
$wrapper-padded-desktop: 3.5vw;
$wrapper-padded-smartphone: 5vw;
// modules vertical paddings
$module-vertical-padding-desktop: 64px;
$module-vertical-padding-big-desktop: 100px;
$module-vertical-padding-smartphone: 48px;
$module-vertical-padding-big-smartphone: 64px;
// columns space
$column-space-side-desktop: 1.75vw;
$column-space-bottom-desktop: calc(#{$column-space-side-desktop} * 2);
$column-space-side-smartphone: 2.5vw;
$column-space-bottom-smartphone: calc(#{$column-space-side-smartphone} * 4);

:root {
    --color-1: #111111;
    --color-2: #555555;
    --color-3: #F2F2F2;
    --color-4: #FFFFFF;
    --above-image-opacity: rgba(255, 255, 255, 0.35);
    --switch-box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
    --color-form-ok: #00240A;
    --color-form-ok-b: #D6F7B9;
    --color-form-error: #8C0500;
    --color-form-error-b: #FFE5E5;
}

[data-theme="dark"] {
    color-scheme: dark;
    --color-1: #FFFFFF;
    --color-2: #F2F2F2;
    --color-3: #555555;
    --color-4: #111111;
    --above-image-opacity: rgba(0, 0, 0, 0.35);
    --switch-box-shadow: inset 0px 0px 4px 2px rgba(255, 255, 255, 0.2);

}

$color-upload-icon-clear: '%23FFFFFF'; // codificato per funzionare con SVG in linea nei CSS
$color-upload-icon-dark: '%23000000'; // codificato per funzionare con SVG in linea nei CSS
$color-form-ok: #04621B;
$color-form-ok-b: #F4FFF4;
$color-form-error: #D11515;
$color-form-error-b: #FFF7F4; // form usability colors
//fonts desktop
$h1-size-desktop: 68;
$h1-lineheight-desktop: 76;
$h1-marginbottom-desktop: 33;
$h2-size-desktop: 54;
$h2-lineheight-desktop: 60;
$h2-marginbottom-desktop: 33;
$h3-size-desktop: 34;
$h3-lineheight-desktop: 42;
$h3-marginbottom-desktop: 22;
$h4-size-desktop: 26;
$h4-lineheight-desktop: 34;
$h4-marginbottom-desktop: 34;
$h5-size-desktop: 18;
$h5-lineheight-desktop: 24;
$h5-marginbottom-desktop: 12;
$h6-size-desktop: 16;
$h6-lineheight-desktop: 20;
$h6-marginbottom-desktop: 10;
$paragraph-size-desktop: 20;
$paragraph-lineheight-desktop: 30;
$paragraph-marginbottom-desktop: 30;
$paragraph-smaller-size-desktop: 17;
$paragraph-smaller-lineheight-desktop: 24;
$paragraph-smaller-marginbottom-desktop: 24;
$cta1-size-desktop: 20;
$cta1-lineheight-desktop: 26;
$cta1-marginbottom-desktop: 0;
$nav-size-desktop: 16;
$nav-lineheight-desktop: 20;
//fonts smartphone
$h1-size-smartphone: 44;
$h1-lineheight-smartphone: 46;
$h1-marginbottom-smartphone: 16;
$h2-size-smartphone: 37;
$h2-lineheight-smartphone: 42;
$h2-marginbottom-smartphone: 28;
$h3-size-smartphone: 27;
$h3-lineheight-smartphone: 33;
$h3-marginbottom-smartphone: 16;
$h4-size-smartphone: 20;
$h4-lineheight-smartphone: 24;
$h4-marginbottom-smartphone: 16;
$h5-size-smartphone: 16;
$h5-lineheight-smartphone: 21;
$h5-marginbottom-smartphone: 16;
$h6-size-smartphone: 16;
$h6-lineheight-smartphone: 20;
$h6-marginbottom-smartphone: 16;
$paragraph-size-smartphone: 18;
$paragraph-lineheight-smartphone: 26;
$paragraph-marginbottom-smartphone: 16;
$cta1-size-smartphone: 20;
$cta1-lineheight-smartphone: 26;
$cta1-marginbottom-smartphone: 0;
$nav-size-smartphone: 20;
$nav-lineheight-smartphone: 20;