// main: ../style.scss
@import 'vars';
@import 'function-mixin'; // wrappers and more

body {
  &.no-scroll {
    overflow: hidden;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.wrapper-padded,
.wrapper-padded-container,
.wrapper-padded-more-700,
.wrapper-padded-more-924,
.wrapper-padded-slideshow {
  position: relative;
  margin: 0 auto;
}

.video-error-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 1rem;
  border-radius: rem(4);
  text-align: center;
  z-index: 10;
}

.content-footer-wrapper {
  position: relative;

  &.hide-scroll {
    overflow: hidden;
  }
}