// compileExpanded: style-expanded.css, compileCompressed: ../../style.min.css
@use "sass:math";
// a fine sviluppo commento i parziali che non utilizzo

// imports globali
@import 'global/vars';
@import 'global/function-mixin';
@import 'global/links';
@import 'global/a11y';
@import 'global/modules';
@import 'global/ctas';
@import 'global/cards';
@import 'global/forms';
@import 'global/slideshows';
@import 'global/socials';
@import 'global/font-material-icons';
@import 'global/libraries/slick';
@import 'global/pagenavi';
@import 'global/libraries/aos';
@import 'global/modals';

// imports mobile
@media screen and (min-width: $break-mobile-start) and (max-width: $break-tablet-end) {
  @import 'mobile/a11y';
  @import 'mobile/listings';
  @import 'mobile/module-text';
  @import 'mobile/module-highlighted-sentence';
  @import 'mobile/module-columns';
  @import 'mobile/module-columns-fix-column';
  @import 'mobile/module-stripe';
  @import 'mobile/module-slideshow';
  @import 'mobile/module-fullscreen-image';
  @import 'mobile/module-expanding-text-js';
  @import 'mobile/banner';
  @import 'mobile/module-video';
  @import 'mobile/module-scroll-text';
  @import 'mobile/ctas';
  @import 'mobile/cards';
  @import 'mobile/effects';
  @import 'mobile/forms';
  @import 'mobile/slideshows';
  @import 'mobile/modals';
  @import 'mobile/search-bar';
}

// imports desktop
@media screen and (min-width: $break-desktop) {
  @import 'desktop/a11y';
  @import 'desktop/mega-menu';
  @import 'desktop/listings';
  @import 'desktop/module-text';
  @import 'desktop/module-highlighted-sentence';
  @import 'desktop/module-columns';
  @import 'desktop/module-columns-fix-column';
  @import 'desktop/module-stripe';
  @import 'desktop/module-slideshow';
  @import 'desktop/module-fullscreen-image';
  @import 'desktop/module-expanding-text-js';
  @import 'desktop/banner';
  @import 'desktop/module-video';
  @import 'desktop/module-scroll-text';
  @import 'desktop/ctas';
  @import 'desktop/cards';
  @import 'desktop/effects';
  @import 'desktop/forms';
  @import 'desktop/slideshows';
  @import 'desktop/modals';
  @import 'desktop/search-bar';
}

@import 'global/admin-bar';
//@import 'global/visual-debug';