@import 'z-global-vars';
@import 'z-global-mixin';

// index
// comportamenti predefiniti - selezione testo - placeholder - allineamento testi - immagini - etc
// lazy load / infinite load
// banner cookies
// hamburger
// txt colors
// bg colors
// link behaviour and colors
// comma separated links
// responsive iframes / videos

// comportamenti predefiniti

::-moz-selection {
	background: $color-1;
	color:  $color-6;
}

::selection {
	background: $color-1;
	color:  $color-6;
}

::-moz-selection {
	background: $color-1;
	color: $color-6;
}

::-webkit-selection {
	background: $color-1;
	color: $color-6;
}

::-webkit-input-placeholder {
	color: $color-2;
}

:-moz-placeholder {
	color: $color-2;
}

::-moz-placeholder  {
	color: $color-2;
}

.stripe {
	position:relative;
	width:100%;
}

.aligncenter {
	text-align:center;
}

.alignright {
	text-align:right;
}

.alignleft {
	text-align:left;
}

.allupper {
	text-transform:uppercase;
}

.clearer {
	clear:both;
}

.no-the-100 {
	width: 100%;
	img {
		width: 100%;
		height: auto;
	}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   .no-explorer {
     display: none !important;
   }
   .only-explorer {
     position: absolute;
     left: 0;
     top: 0;
     display: block;
     width: 100%;
     height: 100%;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: 50% 50%;
     display: block !important;
   }
}

.verticalize {
	@include flex-verticalize;
}

// lazy load / infinite load

.lazy {
	position: relative;

}

.lazy-loading {
	opacity: 0.1;
}

.lazy-loaded {
	opacity: 1;
	@include define-basic-transition(all, 0.3s);
}

.last-message {
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
	color: $color-3;
	padding: 20px;
}

.bottom-message {
	position: fixed;
	z-index: 9999;
	bottom: 0;
	left: 0;
	display: none;
	width: 100%;
	text-align: center;
	background-color: $color-1;
	color: $color-3;
	padding: 20px;
}

.centil-post-header, .centil-infinite-scroll {
	display: none;
}

.navigation {
	display: none;
}

#infscr-loading {
	position: relative;
	width: 100% !important;
	height: 12px !important;
	font-family: $font-main;
	font-size: 14px;
	font-style: normal !important;
	background-color: $color-3;
	color: $color-2;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px;
	display: none;
}

#infscr-loading img {
	display: none !important;
}

// banner cookies

#paperplane-cookie-notice {
	position: fixed;
	z-index: 9999;
	display: block;
	//visibility: hidden;
	display: none;
	width: calc(100vw - 44px);
	bottom: 10px;
	left: 10px;
	font-family: $font-main !important;
  font-weight:$font-weight-1 !important;
  font-size: $cta1-size-smartphone !important;
  line-height: $cta1-lineheight-smartphone !important;
	border: $color-4 solid 3px !important;
	background-color: $color-1 !important;
	color: $color-6 !important;
	.paperplane-cookie-notice-container {
		position: relative;
		width: calc(100% - 20px);
		margin: 0 auto;
		padding: 10px;
		text-align: center;
		.paperplane-message-cookie-accepted, .paperplane-message-cookie-refused {
			display: none;
		}
	}
	a {
		display: inline-block;
		margin: 5px;
		padding: 3px 6px;
		background-color: $color-7;
		color: $color-1 !important;
		text-transform: uppercase;
	}
}

.paperplane-gdpr-content-message {
	position: relative;
	padding: 10px;
	margin: 20px 0;
	background-color: $color-1;
	color: $color-7;
	p {
		margin-bottom: 0;
		//text-transform: uppercase;
	}
}

// hamburger

.hambuger-element {
  width: 20px;
  height: 16px;
  position: relative;
	display: inline-block;
  z-index: 9998;
	padding: 0;
  margin: 7px 0 0 0;
  @include define-rotate(0);
  cursor: pointer;
  border: none !important;
	overflow: hidden;
}

.open_head .hambuger-element span {
	background-color: $color-2 !important;
}

.hambuger-element span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: $color-2;
  opacity: 1;
  left: 0;
  @include define-rotate(0);
  @include define-basic-transition(all, 0.15s);
}

.hambuger-element span:nth-child(1) {
  top: 0px;
}

.hambuger-element span:nth-child(2), .hambuger-element span:nth-child(3) {
  top: 7px;
}

.hambuger-element span:nth-child(4) {
  bottom: 0;
}

.hambuger-element.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.hambuger-element.open span:nth-child(2) {
	@include define-rotate(45);
}

.hambuger-element.open span:nth-child(3) {
  @include define-rotate(-45);
}

.hambuger-element.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

// txt colors

.txt-1 {
  color: $color-1;
}

.txt-2 {
  color: $color-2;
}

.txt-3 {
  color: $color-3;
}

.txt-4 {
  color: $color-4;
}

.txt-5 {
  color: $color-5;
}

.txt-6 {
  color: $color-6;
}

.txt-7 {
  color: $color-7;
}

// bg colors

.bg-1 {
  background-color: $color-1;
}

.bg-2 {
  background-color: $color-2;
}

.bg-3 {
  background-color: $color-3;
}

.bg-4 {
  background-color: $color-4;
}

.bg-5 {
  background-color: $color-5;
}

.bg-6 {
  background-color: $color-6;
}

.bg-7 {
  background-color: $color-7;
}

.test-gradient {
	@include define-diagonal-radient(rgba(0,0,0,0), rgba(0,0,0,1));
}

// link behaviour and colors

a {
	&:link,
	&:visited {
		color: $color-2;
	}
	&:hover {
		color: $color-3;
	}
	&.absl {
		position:absolute;
		z-index: 100;
		left:0;
		top:0;
		display:block;
		width:100%;
		height:100%;
	}
	.clear-link:link,
	.clear-link:visited {
		color: $color-5;
	}
	.clear-link:hover {
		color: $color-6;
	}
}

.clear-link-area {
	a:link,
	a:visited {
		color: $color-5;
	}
	a:hover {
		color: $color-6;
	}
}



.round-button {
	position: relative;
	display: inline-block;
	@include define-paddings(10px, 20px, 10px, 20px);
	@include define-border-radius(20px);
	text-align: center;
	background-color: $color-1;
	&:hover {
		background-color: $color-5;
	}
}

.download {
	display: inline-block;
	position: relative;
	padding-left: 34px;
	margin-bottom: 10px !important;
	text-transform: uppercase;
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 24px;
		height: 24px;
		display: block;
		content: "";
		background-image:url(assets/images/download.png);
		background-repeat: no-repeat;
		background-size: 24px 24px;
	}
}

// comma separated links

.category-list {
  //margin-bottom: 24px;
  a:link {
    &:after {
      content: ", ";
    }
    &:last-child:after {
      content: "";
    }
  }
  span {
    &:after {
      content: ", ";
    }
    &:last-child:after {
      content: "";
    }
  }
}

// remove typography elements last child margin bottom

.last-child-no-margin {
	h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child, p:last-child {
    margin-bottom: 0 !important;
  }
}

// responsive iframes / videos

.video_frame {
	position:relative;
	padding-bottom:56.25%;
	height:0;
	overflow:hidden;
	max-width:100%;
	height:auto;
}

.video_frame iframe, .video_frame object, .video_frame embed {
	position: absolute; top: 0; left: 0; width: 100%; height: 100%;
}

// pagenavi

.wp-pagenavi {
	display:block;
	width:100%;
	font-size: $h4-size-desktop;
	font-weight: $font-weight-2;
}

.wp-pagenavi .last, .wp-pagenavi .extend, .wp-pagenavi .first {
	display:none !important;
}

.wp-pagenavi .pages {
	display:none;
}

.wp-pagenavi .previouspostslink {
	display:inline-block;
	float:left;
	margin:0 20px 0 0;
	color: $color-2;
}

.wp-pagenavi .nextpostslink {
	display:inline-block;
	float:left;
	margin:0 20px 0 0;
	color: $color-2;
}

.wp-pagenavi a {
	display:inline-block;
	float:left;
	margin:0 20px 0 0;
	color: $color-2;
	border: none !important;
}

.wp-pagenavi a:link {
	color: $color-2;
}

.wp-pagenavi a:visited {
	color: $color-2;
}

.wp-pagenavi a:hover {
	color: $color-1;
}

.wp-pagenavi .page {
	display:inline-block;
	float:left;
	margin:0 20px 0 0;
	color: $color-2;
}

.wp-pagenavi span.current {
	display:inline-block;
	float:left;
	margin:0 20px 0 0;
	color: $color-3;
	border: none !important;
}
